[2017-06-14 15:50] danielantelo opened #287 "Chrome driver not being launched"
## Expected Behaviour
It should launch chrome driver automatically when calling selenium.start()

## Current Behaviour
Seems to try to start Opera and IE but not chrome or gecko drivers. Opera gives an error and is skipped.

## Logs
![screen shot 2017-06-14 at 16 44 29](https://user-images.githubusercontent.com/9608393/27141652-aec4a032-5120-11e7-94a7-ea3663429e8f.png)

## Your Environment
* Versi

[2017-06-15 10:05] #287 closed

[2017-06-15 10:05] danielantelo commented on #287
Was an issue in my port configuration. Defaults now working.

[2017-07-13 11:17] sky-joaonabais opened #288 "Tests got terminated due to a session delete"
## Summary
Sometimes tests do not execute due to a session delete in the middle of the test run.

## Expected Behavior
Tests should execute smoothly, which, sometimes, they do, here is the log when that happens (this is only a part of the log):
[code]

## Current Behavior
As explained above, some other times the tests fail due to a session delete (at least is all I'm getting from the logs/error me

[2017-07-13 12:01] christian-bromann commented on #288
The logs look fine. As mentioned on Gitter if you can't provide a reproducible example there is nothing @vvo can do about it. It might be indeed an issue in the stack chain but this is not fixable with just a couple lines of logging in our hands.

[2017-07-13 19:15] akrueger opened #289 "Use with safari ?"
Just wondering if this works with Safari?

I didn't see any safari driver download on install, so I am unsure if it's possible to use or not.

Thanks

[2017-07-17 08:26] vvo commented on #288
This is a generic selenium issue. To be handled on selenium issue tracker/chrome driver. Will need an example repository.

[2017-07-17 08:26] #288 closed

[2017-07-17 08:26] vvo commented on #288
(Thx @christian-bromann)

[2017-07-20 14:37] vvo commented on #289
I think safari works by default because it embed the driver, searching safari + selenium on google, first result is: https://github.com/SeleniumHQ/selenium/wiki/SafariDriver

[2017-07-20 14:37] vvo commented on #289
Thanks!

[2017-07-20 14:37] #289 closed

[2017-07-20 17:16] akrueger commented on #289
The instructions at `SeleniumHQ` worked for me. Just make sure to go to version `2.48` and you'll find the SafariDriver that you can install in Safari as an extension.

Thanks

[2017-07-25 09:49] gsar-mdsol opened #291 "WebdriverIO tests fail due to a `selenium-standalone` error"
Version number: `5.11.2`

Error message:
[code]

Opening the URL in a chrome gives the following error screen:
![screen shot 2017-07-25 at 10 28 16 am](https://user-images.githubusercontent.com/27220956/28566127-249d62b0-7126-11e7-8c2d-c58686992372.png)

Trying to download the file with `wget` gives the following error message:
[code]

[2017-07-25 13:13] vvo commented on #291
Just did the exact same line (wget) and it worked, maybe a ssl/wget update or configuration on your side? Like a proxy?

[2017-07-25 13:32] gsar-mdsol commented on #291
@vvo You are absolutely right. It works from hotspot, probably some internal proxy. Sorry about the false alarm! :)

[2017-07-25 13:32] #291 closed

[2017-07-25 13:58] joao-arvins opened #292 "Error loading Gecko driver"
## Expected Behavior
Selenium-standalone should be able to find all drivers all install them

## Current Behavior
Fails when trying to install gecko drivers for firefox

## Steps to Reproduce

1.  Run it
2.  It will fail in the first step ("selenium-standalone installation starting")

## Logs
`[14:33:00] Error: Could not request headers from https://github.com/mozilla/geckodriver/releases/download

[2017-07-25 14:28] zenonhun commented on #292
Try to open the geckodriver from a browser: https://github.com/mozilla/geckodriver/releases/download/v0.16.0/geckodriver-v0.16.0-win64.zip
It is redirected to a wrong url.
Something is wrong with the github download links,
Unfortunately I cannot configure the selenium-standalen not to install or use the firefox driver.
Only way I found is to edit the default-config.js in the node_modules/selenium-

[2017-07-25 14:39] zenonhun commented on #292
Related?
https://github.com/vvo/selenium-standalone/issues/265

[2017-07-26 08:33] joao-arvins commented on #292
Hi @zenonhun . Yes, you're right it's related to that issue.
The github download links are working fine again ... we can already run Selenium?

That was the first time it happened to us. Did someone faced the same in the past (apart from the one time reffered on [#265 ](https://github.com/vvo/selenium-standalone/issues/265))?

[2017-07-29 05:38] mg80 opened #293 "6.6.0 broke headless chrome"
## Expected Behavior
Headless chrome should launch

## Current Behavior
Chrome never launches, process never starts on CentOS.  It seems to work fine on OSX.

## Steps to Reproduce
start chrome with the following args --headless --disable-gpu on CentOS.

[2017-07-31 13:42] vvo commented on #293
Do you think this is linked to a chrome bug rather than selenium standalone bug? You can also specify your own versions, see the readme https://github.com/vvo/selenium-standalone

Thanks let me know

[2017-07-31 19:15] mg80 commented on #293
@vvo based on the changes, it must be an issue with the chrome driver.  I'll close this

[2017-07-31 19:16] #293 closed

[2017-08-01 10:35] kunal-mazumdar opened #294 "How to start selenium on port other than 4444 using selenium-standalone api"
## Expected Behavior
Argument "-port 4545" is allowed to start the server on port other than 4444 using java command line and selenium-standalone api should have the ability to do that. How to configure?

## Current Behavior
Inputs tried in config json for selenium.start() api
seleniumArgs : ['-port=5555']
seleniumArgs : ['-port 5555']
javaArgs : ['-port=5555']
javaArgs : ['-port 5555']

complete

[2017-08-01 17:28] stephenash commented on #294
Try using `seleniumArgs: ['-port', '5555']` and let me know if that works for you.

[2017-08-04 08:28] kunal-mazumdar commented on #294
Oh Yes! It works !! Thanks.
Please close the issue.

[2017-08-04 13:35] #294 closed

[2017-08-16 16:13] bstratx opened #299 "selenium-standalone@6.7.0 is not accepting chromeOptions as capabilities."
## Expected Behavior
I expect that selenium-standalone package should accept this as a legit desired capabilities.
This indeed worked in selenium-standalone@6.6.0

  capabilities: [

    // local chrome mobile
    {
      browserName: 'chrome',
      chromeOptions: {
        args: ['disable-infobars', 'incognito'],
        mobileEmulation: {
          'deviceMetrics': { 'width': 360, 'height': 640

[2017-08-17 00:45] stephenash commented on #299
The selenium-standalone@6.7.0 release updated the default selenium server version to 3.5.0 (was 3.4.0). Are you still experiencing this problem if you explicitly set the selenium version back down to 3.4.0?

[code]

Can you share more details about how you are invoking selenium-standalone? What commands you are using, etc. I'm not finding anything about using the `capabilities` directly with selen

[2017-08-17 00:49] stephenash commented on #202
Closing since this appears to be supported as long as the syntax (or similar) listed in https://github.com/vvo/selenium-standalone/issues/202#issuecomment-238744407 is used.

[2017-08-17 00:49] #202 closed

[2017-08-18 20:09] bstratx commented on #299
Hi Stephen,

I'm running selenium standalone through webdriverio's
selenium-standalone-service service.
https://github.com/webdriverio/wdio-selenium-standalone-service/blob/
master/README.md

I've included a small example selenium-standalone-test.tar with a readme.
https://drive.google.com/open?id=0B1tcqC6u74EoNUZDN210Z0syUHc

let me know if you have any more questions.

Bill

On Wed, Aug 16, 2017

[2017-08-19 16:06] stephenash commented on #299
@bstratx Thanks for the reproducible example files. That was really helpful.

I was able to see the same problem that you listed, but I don't believe that it is a `selenium-standalone` issue. Instead, I think it was some change in behavior in selenium v3.5.0 in how those capabilities are parsed. I didn't notice anything in their CHANGELOG [0] as to the change in behavior being expected, so I opene

[2017-08-19 16:06] #299 closed

[2017-08-21 17:01] EvtK commented on #94
@sean-hill just checking in to let know that your solution definitely helped me out, killing selenium in a neat way.

Thanks a big bunch!

[2017-08-24 20:25] patthiel commented on #265
Perhaps we can have an option to install drivers from a local source containing zip files of the drivers specified? Sort of a paranoid option, but for those of us that rely on CI that regularly pull these down drivers, this might be a good option.

[2017-08-28 13:47] vvo commented on #265
@patthiel If this issue is a real pain for you then yes dig it further and maybe find why we are calling isUpToDate while drivers are installed already

[2017-09-03 05:56] bingxueDU opened #303 "geckodriver-v0.18.0-win64.zip not found"
selenium-standalone installation [=================   ] 87% 8.8sC:\Users\b\AppDa
ta\Roaming\npm\node_modules\selenium-standalone\bin\selenium-standalone:111
        throw err;
        ^

Error: Could not download https://github.com/mozilla/geckodriver/releases/downlo
ad/v0.18.0/geckodriver-v0.18.0-win64.zip: Error: read ECONNRESET

[2017-09-04 21:45] stephenash commented on #303
@bingxueDU Are you routinely hitting this error? `ECONNRESET` errors happen when the remote server (GitHub in this case) closes the TCP connection abruptly.

I am able to download that same URL on my local machine, so wondering if this is a transient network issue for you or not.

[2017-09-05 13:48] donaldpipowitch opened #304 "install should timeout after x seconds"
## Expected Behavior

I'm currently on a train and try to debug a selenium test. I run `install`, but because of some connection problem the `install` will run forever. It would be nice to have a default timeout (maybe after 10 seconds?), so a real error is thrown. It took me a while to figure out that the `install` runs forever and not some other part of my test.

## Current Behavior

Currently `

[2017-09-06 08:17] zrx8269 opened #306 "proxy not work"
## Current Behavior
The proxy does't work. The code in my project is as below:

    const webdriverio = require('webdriverio');

    var opts = {
		desiredCapabilities: {
			browserName: 'firefox',
			proxy: {
                            proxyType: "manual",
		            httpProxy: "a.b.c",
		            httpProxyPort: 8080,
		            sslProxy: "a.b.c",
		            sslProxyPort: 8080

[2017-09-07 00:38] stephenash commented on #306
@zrx8269 From your example, it looks like you are using the `webdriverio` tools directly and not necessarily the `selenium-standalone` project. If that is not the case, can you create a sample repo that has the exact config files and scripts you are using that reproduces the issue?

`selenium-standalone` does have the [ability to set a proxy](https://github.com/vvo/selenium-standalone#example) tha

[2017-09-07 00:59] stephenash commented on #304
Those steps to repro are going to take me awhile to finish! Going to add the `pr welcome` label in the meantime.

[2017-09-07 03:10] donaldpipowitch commented on #304
😄

[2017-09-11 21:43] toien44 opened #307 "Upgraded to 6.9.0 and can't find correct server.jar"
## Expected Behavior
If you're describing a bug, tell us what should happen.
If you're suggesting a change/improvement, tell us how it should work.

Expecting to download and run
[code]
and it does download the new 3.5.3.jar and it's in the location `node_modules/selenium-standalone/.selenium/selenium-server/3.5.3-server.jar`

## Current Behavior
If describing a bug, tell us what happens instead o

[2017-10-06 19:24] fabiodamasceno commented on #199
+1

My network access is restricted and don't need (can't ) to download gecko driver.
What's needed to correct this issue? Can I send a PR?

[2017-10-07 12:24] vvo commented on #199
Yes

No idea, but digging this can be easier than what you think.. Try it!

[2017-10-07 12:25] #304 closed

[2017-10-13 16:52] jameslive opened #312 "Updating chromedriver to version 2.33.1 fixes our local test passes"
## Expected Behavior
Tests fail locally using chromedriver version 2.32 that currently comes with selenium.

## Current Behavior
The latest version of chromedriver 2.33.1 has a fix that allows our tests to pass on our local machines again.

We currently work around this by updating the default-config file.  Can someone please help to update to this version?

I tried to create my own pull request,

[2017-10-16 21:59] snoblenet commented on #121
Any updates on this?

(The current scenario means I can't be productive on my long semi-rural train ride too and from work...)

[2017-10-17 17:16] ajoy39 commented on #312
Can you describe how they were failing? I may be experiencing a similar issue but I'm not sure. We're using codeception and chrome isn't starting for us, but there's no error message to say that, they just try to run the test and the browser doesn't even start. The only error we get is that it can't find the fields for our login form

[2017-10-18 21:02] davidsonfellipe commented on #312
@ajoy39 What's your chrome version? After update chrome to Version 62.X, I had the same problem reported by @jameslive.

[2017-10-19 13:14] ajoy39 commented on #312
I have had issues with both 61 and 62, though they're different. Right now I'm using Selenium 3.5.3 and Chromedriver 2.33 on local and can run my tests, but they came config in the docker container we use for Gitlab's CI runners will crash after a couple tests. It's not a consistent test or number of tests that it crashes on, just at random 5-10 tests in.

[2017-10-19 16:20] jameslive commented on #312
The problems vary between tests, but seems focused on issues around finding or clicking elements that have to be scrolled to first.  The errors were looking like... "cannot click element at position (13,57)" and the errors were nothing that I was able to resolve by looking up other cases of this online.

[2017-10-19 16:36] ajoy39 commented on #312
Yeah we're having very different problems then. Logging at the selenium logs I'm not really getting any specific errors, it doesn't say that it can't start chrome that only happens in the test themselves. However it is starting chrome driver on each test, and on a different port each time?

[code]

The output on the failures in the same, in any case

[code]

[2017-10-19 16:41] davidsonfellipe commented on #312
@jameslive From now I'm using this config file for Chrome 62. Thanks

[code]

[2017-10-20 02:20] adaniliuk commented on #312
The same issue here with Chrome 62. It's not possible to change window size. Temporary updated /node_modules/selenium-standalone/lib/default-config.js locally as @davidsonfellipe suggested to let local tests pass.

[2017-10-20 10:44] vvo commented on #121
Nobody took the lead on this task

[2017-10-20 10:49] vvo commented on #312
chrome drive was updated to 2.33 in latest selenium-standalone
Let me know

[2017-10-20 11:42] oliviertassinari commented on #121
Last time I had this issue case, I was in the train with no internet connection. This is an issue I do no longer face when working with a dockerized version of selenium.

[2017-10-20 17:45] jameslive commented on #312
Thanks much!  will be trying this out soon

[2017-10-23 12:50] vvbhandare opened #323 "selenium-standalone: command not found"
I am getting below error on entering this command `selenium-standalone install`

[2017-10-23 22:05] vvo commented on #323
Did you do npm install -g selenium-standalone?

[2017-10-24 04:14] vvbhandare commented on #323
Yes after doing it, I get below snippet

[code]

[2017-10-24 11:55] vvo commented on #323
when this is done, just open a new tab and do

[code]

If that does not work, try with another global package like `npm install ava -g` and `ava`. If this fails then your setup about binaries in npm packages is broken and you might want to ask the question on stackoverflow

[2017-10-24 16:33] attila123 opened #324 "isUpToDate() in install.js should not reach Internet all the time"
## Expected Behavior
I would expect isUpToDate() in install.js to simply check the integrity of the already downloaded zip or jar files (e.g. chromedriver zip, selenium jar). To achieve this, hopefully there is some npm package which can test the integrity of a zip file (similarly to unzip -t in command line). Maybe the yauzl package which this project uses can do this, did not check.

## Current

[2017-10-25 14:01] netmajor opened #325 "Selenium installs other drivers than in config"
## Expected Behavior
installing selenium and chromedriver

## Current Behavior
I am set in config that I want only install chrome driver, but in log i see that it tries to download others also

## Steps to Reproduce
I am executing command: selenium-standalone install  --config=./selenium.conf.js with config
[code]

Also same problem when I run gulp task:

[code]

i get error:
[code]
Why it looking

[2017-11-01 06:13] snoblenet commented on #115
Does anyone know of a fork or a plugin that implement this?

[2017-11-01 18:48] Jtech42 commented on #177
I did run the install, and now /node_modules/selenium-standalone/.selenium/selenium-server/3.6.0-server.jar is throwing the error. So much time wasted to these things that should be included without redundant installation processes.

[2017-11-14 22:23] PreeG opened #326 "Chromedriver fails with "CreatePlatformSocket() returned an error" on Linux platform"
## Expected Behavior
on the test trigger, chromedriver should successfully start.

## Current Behavior
Chromedriver fails with "CreatePlatformSocket() returned an error" on Linux platform. Refer to error below:
22:11:57.968 DEBUG - http-outgoing-0 << "{"sessionId":"9405fad70a09f38786e511b3e2132060","status":13,"value":{"message":"unknown error: Chrome failed to start: exited abnormally\n  (Driver

[2017-11-16 16:49] vvo commented on #177
I agree, I initially created selenium-standalone to simplify things. But in the end that's just a wrapper on top of normal selenium things: http://www.seleniumhq.org/

Try to first install everything manually, and if it works then move on with standalone, if it fails, stays with the manual way. Thanks.

[2017-12-05 15:58] toien44 opened #331 "Selenium not connecting"
## Expected Behavior
Selenium Standalone to install/start and run test

## Current Behavior
I'm getting the error
[code]

## Steps to Reproduce
Selenium Standalone 6.9.0
Selenium 3.5.3

I am getting the selenium standalone install to work as I'm getting it to download and install selenium and the browser drivers and it's starting too, but will not start the test.

## Logs
09:51:02.600 INFO - Selen

[2017-12-05 17:01] #331 closed

[2017-12-18 01:57] zjh1943 commented on #324
I have the same problem.
When network is good, `selenium-stantalone` starts well.
When network is bad, I can't start `selenium-stantalone` . It shows:

[code]

I think there is no need to request the headers at every starting of `selenium-standalone`. Or at least i can turn it off in some config file.

[2017-12-18 07:38] attila123 commented on #324
wedriver-manager in its current form is unfortunately not suitable for offline use. Our build guys could not make it work even with internal (in company's internal network) repo mirrors somehow.
I am sorry to say, I consider webdriver-manager FUBER (unless you consider fixing other peoples' code in addition to your daily work fun) for real life use (it's more like an educational toy), so we got ri

[2017-12-19 08:04] zjh1943 commented on #324
@attila123 Thank you, very much,  for your detailed explaining. I will start the standalone service by other way.

[2017-12-19 22:02] vvo commented on #324
@attila123 Not sure to get why we speak about webdriver-manager here since this is the repository of selenium-standalone.

It seems also you have a proposed solution. I am not actively using this package, if you are, then you will have to fix this yourself and I will gladly merge a PR solving the issue as you mentioned in the description.

[2017-12-26 02:43] xianghongai opened #333 "proxy download & install problem"
**config.json**

[code]

---

`$ selenium-standalone install --config=config.json`

---

![2017-12-26_10-06-04](https://user-images.githubusercontent.com/2075006/34344797-6d9a40e2-ea24-11e7-8861-9451a9dd3235.png)

I use SOCKS5 proxy. `127.0.0.1:1080`;

Error: tunneling socket could not be established, cause=getaddrinfo ENOTFOUND 1080 1080:80

---
now, download these files：

- https://selenium-rele

[2017-12-26 02:46] #333 closed

[2018-01-07 20:06] mansn commented on #115
@snoblenet Not sure if this helps you (since it's tied to webdriverio), but this is available for webdriverio:
https://github.com/atti187/wdio-chromedriver-service

[2018-01-11 09:47] anzded opened #336 "Cannnot launch extension for Chrome on a remote machine using RemoteWebDriver"
## Expected Behavior
Hello. Need some help. I need to launch Chrome Browser on a remote machine with some extension using Selenium Grid.
## Current Behavior
I use IntelliJ Idea for running my tests+jUnit+Java. If I add an extension for Chrome on my local machine just using ChromeDriver, it works perfect. But when I am tryig to launch it remotly using RemoteWebDriver then only empty Chrome browser

[2018-01-17 01:19] JoshuaMorris commented on #134
Has there been any progress on this?

[2018-03-08 01:09] patthiel commented on #205
@RMcNeely this issue stopped being relevant to my team because we created a config file for version control like in this [example](https://github.com/vvo/selenium-standalone/blob/master/lib/default-config.js) and created a npm script to run selenium-standalone install and start from those configs. We pretty much control the selenium and driver versions installed from there and care much less about

[2018-03-13 09:48] jlchereau opened #349 "With v6.13.0, browserName phantomjs now tries to load with chrome driver and fails"
## Expected Behavior
Tests should work as with previous versions, including v6.12.0

[code]
Full logs at https://travis-ci.org/Memba/Memba-Blog/jobs/346903996

## Current Behavior and Logs
[code]

Full log at https://travis-ci.org/Memba/Memba-Blog/jobs/352740868
Config at https://github.com/Memba/Memba-Blog/blob/master/wdio.conf.js

## Steps to Reproduce
Run tests with https://github.com/Memba/Mem

[2018-03-13 22:18] vvo commented on #349
@vasikarla @WillBrock can you help maybe?

[2018-03-13 23:37] WillBrock commented on #349
I'm not too familiar with phantomjs but the changes from 6.13 would only get hit if the driver is chrome.

@jlchereau to rule some things out, have you tried running selenium-standalone without using the webdriverio selenium standalone service?

[2018-03-14 02:53] jlseeto101 opened #350 "ChromeOptions not being passed to selenium grid node"
## Expected Behavior
Expected the node to start the browser maximize and set useAutomationExtension to false. When running the test locally (using selenium-standalone start), these options works as expected.

## Current Behavior
Currently the node is ignoring all the chrome options being passed into the chrome driver.

## Your Environment
* Version of `selenium-standalone` that you are using: 6.13

[2018-03-14 08:31] jlchereau commented on #349
@WillBrock, I have only been using the webdriverio selenium standalone service.

[2018-03-16 19:48] rfodge commented on #242
I am using selenium-standalone 6.13.0 and i am getting the following when I run ./selenium-standalone install:

[code]
If I try running ./selenium-standalone start then i get the following:
`15:46 $ ./selenium-standalone start
/Users/fodgerl/repos/webdriverio-sample/node_modules/selenium-standalone/bin/selenium-standalone:79
        throw err;
        ^

Error: Missing /Users/fodgerl/repos/webdriv

[2018-03-19 21:25] mg80 commented on #350
If this is true it would explain an issue I am seeing after upgrading to 6.13.0 from 6.12.0

[2018-03-20 22:40] mg80 commented on #326
I have seen this error when trying to run chrome on a headless environment without specifying it to run headless. I'm guessing it's a more general issue of trying to start a session on a device where the chrome driver isn't compatible with the requested session.

[2018-03-21 17:48] prantlf opened #351 "Killing child returned by start() leaves chromedriver process running"
## Expected Behavior

The process returned by the `start` method should be enough to stop all additional child processes started by calling its `kill` method. Example of an expected usage:

[code]

## Current Behavior

Killing the process returned by the `start` method stops the selenium server (java) but the chromedriver process remains running. This occurs only, if the selenium process was actua

[2018-03-22 09:01] #349 closed

[2018-03-22 15:56] kheerthi commented on #326
Hi, was the above error resolved?

[2018-03-22 23:55] P0403 commented on #326
No, it is not yet resolved ...

[2018-03-25 18:03] ElishaKay commented on #115
Awesome! Muchos gracias!

[2018-03-26 14:40] mg80 commented on #350
Any update?

[2018-03-27 17:18] vasuneet commented on #242
Hi ,

I am getting the similar issue :
C:\wireless-ui>selenium-standalone install
----------
selenium-standalone installation starting
----------

---
selenium install:
from: https://selenium-release.storage.googleapis.com/3.8/selenium-server-standalone-3.8.1.jar
to: C:\Users\va030e\AppData\Roaming\npm\node_modules\selenium-standalone\.selenium\selenium-server\3.8.1-server.jar
---
chrome install:

[2018-03-28 21:23] binarykitchen opened #352 "No Firefox driver exists"
Your latest version does not seem to have the Firefox driver:

[code]

[2018-03-28 21:25] binarykitchen commented on #352
When I run `selenium-standalone install`, it doesn't install the Gecko driver. Hmmm, why?

[2018-03-28 23:56] binarykitchen commented on #352
ah, I narrowed down the cause:

[code]

Why permission denied?

[2018-03-30 11:32] vvo commented on #352
Maybe this port is too low to be allowed? Did you look for permission denied marionette geckodriver issues?

[2018-03-30 12:12] vlashchevskyi opened #353 "Use latest version of chromedriver"
## Expected Behavior
It should be used `chromedriver 2.37` for working with `Chrome 65`.
I updated my `lib/default-config.js`:
[code]
and it works good.

## Current Behavior
After clone my tests from git & `npm i` it uses old version of chromedriver, so my tests not work.

## Your Environment
* Version of `selenium-standalone` that you are using: 6.13.0
* `wdio-selenium-standalone-service`: 0.0.10

[2018-04-02 22:25] binarykitchen commented on #352
had to bump firefox to v59, then it worked. wish the error message was better.

[2018-04-02 22:25] #352 closed

[2018-04-03 03:34] jjhluxun commented on #242
@rfodge the issue is due to permission because your network is not allowed to download the lib through IDE. Maybe you can try download directly and then copy them to the related path

[2018-04-03 03:39] jjhluxun commented on #242
I encounter an issue which is 'unable to connect to selenium' after running a period of time. I use 6.12.0. and the webdriver is 4.10.0.
I use it to run automation test with codeceptjs.  Emergency!  FYI.

[2018-04-11 09:04] Emilez opened #355 "Chrome is launched instead of phantomjs in 6.13.0"
## Expected Behavior
PhantomJS can be started without problems.

When I try to start phantomjs I get an error message related to Chrome "loading of unpacked extensions is disabled by the administrator".

## Current Behavior
When I try to start phantomjs I get an error message related to Chrome "loading of unpacked extensions is disabled by the administrator" and the chrome browser is launched inst

[2018-04-11 14:40] Emilez commented on #355
I verified that it is between version 6.12.0 and 6.13.0 that this issue is introduced. Probably a selenium-standalone issue but could also be an integration issue between something else and selenium-standalone I guess. But probably selenium-standalone.

[2018-04-16 14:38] basickarl opened #356 "Set trustAllSSLCertificates programmatically"
How does one use the programmable API to set the trustAllSSLCertificates property? I'm using a self-signed certificate.

I found the following buy don't know how it works:
https://github.com/vvo/selenium-standalone#error-unable-to-get-local-issuer-certificate
Is this an environmental variable?

[2018-04-17 13:10] basickarl opened #357 "Selenium mutating configuration values"
The following code:
[code]
Results in:
[code]
Mutating the configuration object given is bad practice. It would be good for the instance to hold it's own new object instead.

[2018-04-17 15:04] humphreyn opened #358 "Compute-fs-paths should use opts.version and not opts.seleniumVersion"
## Expected Behavior
When using the compute-fs-paths.js to get the selenium server install path. Given the steps to reproduce below I expect the console output to be:

"./selenium/selenium-server/3.11.0-server.jar"

I would suggest that we change line 35 in compute-fs-paths.js to use opts.version rather than opts.seleniumVersion

## Current Behavior

undefined-server.jar

## Steps to Reproduce
con

[2018-04-19 09:08] vvo commented on #357
True!

Accepting pull requests here to fix that

[2018-04-25 15:37] mg80 commented on #350
Looks like chomeOptions was changed to goog:chromeOptions

[2018-05-08 13:27] akselnordal opened #360 "NSP reports security vulnerability in hoek"
## Expected Behavior
NSP should not report any security vulnerabilities

## Current Behavior
When installing the latest `selenium-standalone` package from npm, then running `nsp check`, it gives the following output:

[code]

## Steps to Reproduce
Provide an unambiguous set of steps to reproduce this bug. Include commands that you used
in the shell, or snippets of how you are using the JavaScript

[2018-05-09 18:38] warpech commented on #360
This is fixed in PR #359.

@vvo pls consider merging ASAP

[2018-05-15 07:56] presidenten commented on #292
We have the same problem when we try to run tests in our office where we have a corporate proxy.
The driver can be downloaded from a browser, but not when trying to run tests.
Is there an option to set proxy or even better, use the system set proxy?

[code]

[2018-05-15 15:41] vvo commented on #292
Maybe try to configure the proxy via HTTP(S)_PROXY env variables? That should work:

[code]

https://github.com/request/request#controlling-proxy-behaviour-using-environment-variables

[2018-05-18 15:32] robcalcroft opened #361 "Add option to disable download of certain unneeded drivers"
## Expected Behavior
I should be able to specify in the configuration file that I don't want an certain driver to be downloaded perhaps denoted by passing e.g. `{ edge: false }`.

## Current Behavior
Currently the code merges the default configuration into my configuration and then the drivers I have left out still get downloaded and because I am behind a firewall, it fails the install process.

#

[2018-05-23 07:24] renovate[bot] opened #362 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2018-05-25 07:18] serbanghita commented on #353
The change is already in the master. https://github.com/vvo/selenium-standalone/blob/master/lib/default-config.js#L6
This can be closed 🍻 Thank you!

[2018-05-25 07:48] #353 closed

[2018-06-04 16:57] kathar1223 commented on #189
@MikiDavid , I used the same commands you used,
selenium-standalone start
[code]
But the next command in shell is not executed. because the selenium-standalone start is active. the execution flow is not coming to second command. i.e npm run test

Can you Please help me?

[2018-06-06 15:29] serbanghita opened #367 "Docker support"
I forked your previous efforts to https://github.com/serbanghita/selenium-standalone-docker
I would like you to support an official image for `selenium-standalone` with the latest browsers.
I'm thinking of case-studies where someone with a JS project that has e2e tests will extend the image.

Example of git project with a `Dockerfile`

[code]

This way tests always run with the latest Chrome and F

[2018-06-06 15:36] serbanghita commented on #367
I will provide an example of usage shortly.

[2018-06-07 13:28] corysimmons opened #368 "Update HISTORY.md please?"
Please keep this up-to-date, or remove it for notes attached to tagged releases. My use case is tracking down some driver mismatches. :}

Thank you for your work on this.

[2018-06-07 16:10] corysimmons opened #369 "3.x doesn't work with JDK 10"
Just confirmed this on fresh machine.

Also confirmed it works with JDK 8.

[2018-06-08 13:12] serbanghita commented on #367
I'm submitting a PR for this

[2018-06-08 13:12] #367 closed

[2018-06-13 06:58] junguchina commented on #232
@ruddhani yeah, thank you.
And I use docker-selenium instead.

[2018-06-13 07:31] driq commented on #369
Hi, i created a pull request to bump the selenium version to 3.12. This fixes the issue with JDK 10.

[2018-06-13 08:15] npeterkamps opened #372 "Allow custom config for Microsoft Edge, instead of relying on version"
## Expected Behavior

* Allow to manually configure the entire config for Edge, including version, url and extension.
* `selenium-standalone` should use the version within the downloaded file name.

## Current Behavior

Currently, Edge only supports a version within the config. Since #364 isn't merged yet, I'm unable to automate the download process. Instead of putting pressure on pull requests, i

[2018-06-13 14:24] rogierschouten opened #373 "Edge version 17134 not supported"
## Expected Behavior
downloads the latest edge driver if specified

## Current Behavior

you get an error saying that the edge version is not valid

## Steps to Reproduce

* install selenium-standalone v6.15.0
* try to start a grid node with edge version 17134

## Your Environment
* Version of `selenium-standalone` that you are using: 6.15.0
* System/platform: Windows 10
* Other details that might

[2018-06-15 10:49] ppanuganti opened #374 "IE Edge: required Drop Down is selected with value set initially but failing on submission"
## Meta Data
OS:Windows 10
Browser: IE Edge
Version: 14.14, 15.15, 16.16

## Expected Behavior
The error messages should not populate and validation should be successful

## Current Behavior
In IE Edge when rendering a required select drop down with an initial value set, when trying to submit it will fail validation saying "The mandatory fields are not populated" though we are able to see that the

[2018-06-15 15:14] serbanghita commented on #374
@ppanuganti can you provide a HTML fixture? HTML code to reproduce the entire problem can greatly help in this case.

[2018-06-18 14:30] #369 closed

[2018-06-19 09:34] serbanghita opened #376 "Remove "phantomjs" mentions"
- [x] Remove phantomjs mentions from README and project description
- [ ] Address issues related to phantomjs

- https://github.com/vvo/selenium-standalone/issues/355
- https://github.com/vvo/selenium-standalone/issues/171
- https://github.com/vvo/selenium-standalone/issues/115

[2018-06-19 10:00] serbanghita commented on #373
@rogierschouten 👍 fixed in `6.15.1`

[2018-06-19 10:00] #373 closed

[2018-06-19 10:02] serbanghita commented on #372
Agree 👍 , I will couple this change with https://github.com/vvo/selenium-standalone/pull/365

[2018-06-19 10:04] serbanghita commented on #368
Ok, I will start updating that on each release.
@corysimmons how often do you run into browser/driver mismatch? I am planning on adding e2e tests to detect this before a release

[2018-06-19 10:04] #368 closed

[2018-06-19 10:17] serbanghita commented on #360
I'll close this since there are no vulns reported. @akselnordal thanks for reporting this!

PS: Funny enough if you run the nsp check on the devDependencies now it reports that nsp has a "vulnerability" - lodash prototype pollution :)

[code]

[2018-06-19 10:17] #360 closed

[2018-06-19 17:58] serbanghita opened #377 "Add JS linter"
Add eslint with Airbnb default rules.
This is good for future refactorings and new tests.
It will also be added as an additional step to build and release.

[2018-06-19 22:15] corysimmons commented on #368
Every time I've been forced to use Selenium by some company, there are always problems with it.

Thus things like Cypress and Testcafe have been gaining traction.

[2018-06-20 01:25] shinxi opened #378 "Install pending at v6.15.1"
## Expected Behavior
`selenium-standalone install` should work at v6.15.1.

## Current Behavior
`selenium-standalone install` is pending at v6.15.1.

## Steps to Reproduce
[code]

## Logs
[code]

## Your Environment
* Version of `selenium-standalone` that you are using: v6.15.1
* Is there another tool calling `selenium-standalone` on your behalf: No
* System/platform: macOS Sierra v10.12.6
* Other

[2018-06-20 01:54] shinxi commented on #378
Closing the issue as it can't be reproduced in this morning...

[2018-06-20 01:54] #378 closed

[2018-06-20 12:42] vvo commented on #189
You should open a new terminal to run tests OR control how both commands are loaded but that's not a question for the current project nor is it related to selenium-standalone.

Go to StackOverflow and ask how to run two commands in parallel. Easiest is just to run them in different terminals or use the programmatic API: https://github.com/vvo/selenium-standalone#seleniumstartopts-cb

Example: http

[2018-06-21 11:50] serbanghita commented on #368
@corysimmons thanks for sharing that!

[2018-06-26 08:07] mgroenhoff opened #380 "Exception when retrieving a list of sessions from a hub"
## Expected Behavior
When I make a GET /wd/hub/sessions request on a node I get the following response:
[code]
If i would make this request to a hub I would expect a similar response.

## Current Behavior
When I make that same request to a hub I get the following error:
[code]

## Logs
[code]

## Your Environment
* Version of `selenium-standalone` that you are using: 3.12.0
* Is there another tool

[2018-06-26 11:51] mgroenhoff commented on #380
Oh noes. This is the wrong repository! Sorry...

[2018-06-26 11:51] #380 closed

[2018-07-07 17:47] fractile81 commented on #351
I have the same problem on Windows.

Versions:
[code]

[2018-07-09 13:00] kidandcat commented on #175
That doesn't work on windows

[2018-07-16 09:08] serbanghita opened #381 "[Docker] publish image"
@vvo

- [ ] add a new Docker repo under `vvo/selenium-standalone`
- [ ] add me `serbanghita` as a collaborator

I want to publish the Docker instance so I can officially recommend it and start iterating with some customers.

Thanks!

[2018-07-16 16:15] vvo commented on #381
@serbanghita Do I need to do something here? I have no particular rights on docker no?

Please give me maybe more detailed steps because right now I am not sure what to do.

Thanks for being so active!

[2018-07-17 05:49] fang130tao opened #383 "Cannot download IEDriverServer_x64_3.12.0.zip"
## Expected Behavior
When I installed the plug-in in API, I made a mistake in this command ("selenium-standalone start").
it throw a error :
**Error: Could not request headers from https://seleniumrelease.storage.googleapis.com/3.12/IEDriverServer_x64_3.12.0.zip: Error: connect ETIMEDOUT 216.58.197.112:443**

## Current Behavior
I searched for the reason in the search engine and opened the officia

[2018-07-17 06:11] #383 closed

[2018-07-18 10:36] serbanghita commented on #383
@fang130tao was this a problem on your end? I guess it was connection problems, since I can download the zip file.

[2018-07-18 10:42] serbanghita commented on #381
@vvo sure np.

Go to https://hub.docker.com/
Register your account (in case you haven't)
Create repository "selenium-standalone"
Then add me as maintainer (serbanghita)

![screen shot 2018-07-18 at 13 41 13](https://user-images.githubusercontent.com/1106849/42876757-5be8da0e-8a90-11e8-981e-9c9d658dd3e8.png)

I'll then come and publish our Docker image from Github

[2018-07-19 09:47] fang130tao commented on #383
@serbanghita yes,solved, when I run 'selenium-standalone install', every time there are different files that can not be downloaded. It may be caused by network instability. I did not use this command again and back to scan the Macaca document .I found this commond  'selenium-standalone install --drivers.firefox.baseURL=http://npm.t...'  and  run it .It works,  the download was successful. - . -

[2018-07-19 10:13] vvo commented on #381
Done.
Also you could definitely host it on your username if you want.

[2018-07-19 10:14] serbanghita commented on #381
@vvo Cool! I don't want to confuse people that's why I want to use your namespace `vvo`

[2018-07-19 14:29] serbanghita commented on #381
@vvo I pushed the first version, I'll update the docs. If feedback occurs I'll take care of future updates.

Can you go to https://hub.docker.com/r/vvoyer/selenium-standalone/ and update the description.
I don't have the permission to update that.

Short description:
selenium-standalone as a Docker service. Will serve Selenium on port 4444 with latest Chrome and Firefox installed.

Theres no need

[2018-07-20 06:53] serbanghita commented on #381
I think our goal should be to have a minimal description and a link back to the github url like https://hub.docker.com/r/microsoft/oms/

[2018-07-23 07:52] vvo commented on #381
done

[2018-08-07 17:11] subhanimc1 commented on #231
org.apache.commons.exec.ExecuteException: Execution failed (Exit value: -559038737. Caused by java.io.IOException: Cannot run program "

[2018-08-08 19:52] serbanghita commented on #231
@subhanimc1 are you sure you're running selenium standalone? it looks like this is related to Apache

[2018-08-10 14:26] imbenwolf commented on #373
please add version 14393 aswell

[2018-08-21 04:09] sopnopriyo opened #390 "Set custom user-agent for Microsoft Edge"
I have looked into the previous issues about  setting up user-agent for Chrome and Firefox from [Issue 168](https://github.com/vvo/selenium-standalone/issues/168)

But I could not find any documentation for setting the user-agent for Microsoft Edge.

Is there any workaround available for that ?

[2018-09-12 14:13] kbartnik1 commented on #361
I have encountered the same issue. Anything that would disable merging with default config would be appreciated.

[2018-10-19 09:27] sgauruseu opened #406 "selenium-standalone does not work with Java 11"
I use the next frameworks for implementation of ui-tests
**WebdriverIO(4.13.2) + gulp-mocha v5.0 + gulp version  "3.9.1",**  **chromedriver 2.42 and 2.43**
Java 11.

**This is my gulp file:**

`gulp.task('mocha', function () {
    return gulp
        .src('tests/user.save.spec.js', {read: false})
        .pipe(mocha(
            {
                reporter: 'mocha-allure-reporter',

[2018-10-24 20:17] usergenic opened #409 "Update default-config geckodriver to 0.23.0 to support Firefox 63"
## Expected Behavior
Firefox 63 should be controllable by geckodriver.

## Current Behavior
The version of geckodriver in the package is out-of-date and does not support Firefox 63

## Steps to Reproduce
Update default-config geckodriver version to 0.23.0

[2018-10-24 20:35] usergenic commented on #409
@vvo if you merge PR #408 people can use selenium-standalone as-is with Firefox 63.  Otherwise, it fails because the default geckodriver version (0.20.1) doesn't work with it.

[2018-10-30 19:19] jwalton commented on #409
By way of a workaround:

[code]

[2018-11-01 12:03] Stngle opened #410 "failed to change window state to maximized"
## Unexpected Behavior
![image](https://user-images.githubusercontent.com/18617837/47850600-cd4cb700-de10-11e8-8bfb-3e3a0c07534e.png)

## Current Behavior
selenium-standalone version 6.15.3
chromedriver version 2.43 (I have changed the `default-config.js` file)
chrome browser version 70.x
MacOS

[2018-11-01 12:05] Stngle commented on #410
i haven't this problem when i use chrome v69.x

[2018-11-01 13:57] salomvary commented on #409
Workaround for users of [wdio-standalone-service](https://github.com/webdriverio-boneyard/wdio-selenium-standalone-service):

Add these to `wdio.conf.js`:

[code]

[2018-11-19 04:51] MohammadHemel opened #412 "I can run test in jenkins using vvo/selenium-standalone docker service but not with jenkins: Unable to receive message from renderer"
I can run my tests locally using vvo/selenium-standalone docker but cant seems to run it in Jenkins

## Logs
Successfully built ce488d150ecf
Successfully tagged testenguitests_master-aawv4ixu32cv56xwwzp2gbm5ryhbtcff7f465mxb2ygcpjng4fdq_webdriverio:latest
selenium-standalone is up-to-date
Recreating webdriverio ...
[1A[2K
Recreating webdriverio ... [32mdone[0m
[1BAttaching to webdriverio
[36m

[2018-11-21 23:31] uchagani opened #415 "Chrome failing to connect"
## Expected Behavior
Chrome connects on the first try

## Current Behavior
Chrome is not connecting a few times and then connects.  This happens every time.

[code]

## Your Environment
* Version of `selenium-standalone` that you are using: 6.15.4
* Is there another tool calling `selenium-standalone` on your behalf: wdio-selenium-standalone-service
* System/platform: Mac OS X 10.12.6
* Other detai

[2018-11-22 04:32] uchagani commented on #415
I should mention I don't see this issue when I use chromedriver directly.

[2018-11-22 13:59] serbanghita commented on #415
What is the ChromeDriver version and Chrome version?

On Thu, Nov 22, 2018 at 6:32 AM uchagani <notifications@github.com> wrote:

--
Serban Ghita
http://ro.linkedin.com/in/serbanghita
http://ghita.org | http://mobiledetect.net

[2018-11-22 15:33] uchagani commented on #415
chrome: 70.0.3538.110

chromedriver: 2.43.600229

[2018-11-26 10:29] dawidpolakowskics commented on #194
Thank you very much 👍 Windows 10 >> inside Company network.

[2018-12-03 14:59] lrocheWB opened #417 "Selenium Server to 3.141.5"
Possible to update Selenium server to 3.141.5 ?

Problem: Selenium fails to launch when running on a single cpu
https://github.com/SeleniumHQ/selenium/issues/6605

If I edit "lib/default-config.js" file with this new version and I execute "selenium-standalone install && [...] start", it works !

Thx

[2018-12-08 10:47] rgaufman commented on #415
Any ideas?

[2018-12-13 09:57] timrooke1991 commented on #415
Also, experienced this issue. Managed to get it back running by downgrading `selenium-standalone` version to previous version (in my case `16.4.2`)

[2018-12-31 15:22] jlchereau opened #419 "Microsoft Edge is now a FoD aka Feature on Demand"
`selenium-standalone install` installs version 17134 of MicrosoftEdgeDriver in `./node_modules/selenium-standalone/.selenium/edgedriver/17134-MicrosoftEdgeDriver.exe`.

This version is obsolete and this no more the way to install the Edge driver. See:
- https://blogs.windows.com/msedgedev/2018/06/14/webdriver-w3c-recommendation-feature-on-demand/
- https://developer.microsoft.com/en-us/microsoft-e

[2019-01-01 23:58] xywang68 opened #420 "seleniumVersion of 3.141.59 is not parsed correctly due to 2-digit extension (59)"
## Expected Behavior
seleniumVersion of 3.141.59 should be parsed to 3.141
and the download from URL should be computed as:
from: http://selenium-release.storage.googleapis.com/3.141/selenium-server-standalone-3.141.59.jar

## Current Behavior
seleniumVersion of 3.141.59 is parsed to 3.1419 (bug)
and the download from URL is computed as:
from: http://selenium-release.storage.googleapis.com/3.1419/

[2019-01-03 06:24] wck821829906 opened #421 "selenium standalone start failed when install single chrome driver"
@vvo
Steps:
1.  npm install selenium-standalone（6.15.4）
2.  install just chrome driver with "--singleDriverInstall=chrome" configuration
![image](https://user-images.githubusercontent.com/17002975/50625419-0e715c80-0f63-11e9-809f-a0525f75789e.png)
3.  start selenium standalone

Expected results:
standalone server should run successfully with single chrome driver

Actual results:
standalone server

[2019-01-21 12:31] ablok commented on #420
Any idea when this fix will be released?

[2019-01-21 23:13] caoxu2000 commented on #420
@ablok why don't you just update it the code yourself rather than waiting for the release?

[2019-01-25 11:18] grandegiraffo commented on #417
Server crashes on startup. Changing the 3.141.0 to 3.141.5 also fixes this for me.

[2019-02-20 09:23] NikolayMakhonin opened #428 "How can I use several browser versions in one server?"
WebDriver specification suggests to use the ```browserVersion``` parameter:
https://w3c.github.io/webdriver/#capabilities
[code]
But I not see how _selenium-standalone_ can use this option.
Is it possible to use several browsers versions in _selenium-standalone_, with configuration like this?:
[code]

[2019-03-29 11:06] MatUrbanski opened #431 "Failed to download selenium and/or chromedriver: Error: Could not download https://github.com/mozilla/geckodriver/releases/download/v0.23.0/geckodriver-v0.23.0-linux64.tar.gz"
Hey,

I'm unable to instal `selenium-standalone` on CircleCi. This is what I get:

[code]

It was working fine in the past. How can I fix that?

[2019-03-29 12:28] lnaia commented on #431
The line in question, 373, shows you the code that is running:
[code]

[2019-04-04 07:32] wck821829906 commented on #410
I also have the same problem

[2019-04-05 08:34] lumean commented on #326
Might be related to this:
https://bugs.chromium.org/p/chromium/issues/detail?id=700347
We had similar problems when running chromedriver inside an ubuntu docker on a centos 7 host. Although we didn't confirm the root-cause 100%, I'm quite sure it was related to kernel as mentioned in the chromium issue. I'm not sure about IPv6, as we did actually disable IPv6 via chromedriver options, but still sa

[2019-04-08 13:16] hotdog2201 opened #432 "Trying to specify firefox driver breaks operations"
## Expected Behavior
Should be able to specify a version of firefox driver, such as 0.24.0, and then have selenium recognise this and run the tests in the browser. This should also apply for chrome

## Current Behavior
Neither chrome nor firefox start when trying to use a config file or options for specifying driver version,
chrome fails with : "Can't connect to WebDriver.
unknown error: unknown e

[2019-04-21 13:17] PrashantBhatasana commented on #294
You can use this command

`java -jar selenium-server-standalone-2.44.0.jar -role hub -port 4545`

[2019-04-23 08:08] wck821829906 opened #433 "How can I use just only chromedriver to start selenium standalone"
@vvo
## Expected Behavior
I want only download chrome driver and start selenium standalone with customized config

## Current Behavior
all types of browsers driver are required to download

## Steps to Reproduce
1.  use seleniumConfig.js to control driver infomation
![image](https://user-images.githubusercontent.com/17002975/56564543-d6108f80-65e0-11e9-81fb-af9ceb24bd84.png)

2.  set the driver in

[2019-04-24 00:09] jcsmorais commented on #433
I'm also able to reproduce this on version 6.16.0, I'm using the CLI and getting the same outcome:

[code]

[2019-04-24 21:14] jcsmorais commented on #433
@serbanghita any thoughts on this :arrow_up:?

[2019-04-25 17:57] jcsmorais commented on #433
Just figured that there's a flag to install specific drivers only:

[code]

@wck821829906 maybe that'll help you too.

[2019-04-26 06:13] wck821829906 commented on #433
@jcsmorais, Does it support install special selenium version (such as: 3.141.59 ) with above option arguments ?

[2019-04-26 10:56] stychu commented on #410
@wck821829906 go to the ` node_modules/selenium-standalone/lib/default-config.js` and change the chrome version to at least `2.44` then maximize will work

[2019-04-26 10:58] stychu opened #434 "ChromeDriver version"
Current driver for chrome `2.43` is kinda bugged and you're unable to maximize the window.
When I changed the version from `2.43` to `2.44` it worked as expected.

Please update the configurations for drivers

[2019-04-28 09:53] wck821829906 commented on #410
@stychu It seems not work
![image](https://user-images.githubusercontent.com/17002975/56862532-86fe9c00-69de-11e9-9809-a895bda173fc.png)

![image](https://user-images.githubusercontent.com/17002975/56862536-95e54e80-69de-11e9-8195-92a6881bb0b1.png)

[2019-05-06 09:24] Amrkamel1 opened #435 "Unable to start selenium grid programmatically"
Im trying to run selenium grid programmatically to execute parallel test for two android devices and was struggling with the code for many days already and couldn't manage it yet,

note that : appium server is starting programmatically as well and the test is running successfully when im running selenium grid from the terminal

last error message im getting now is : **java.net.BindException: Addre

[2019-05-15 09:21] stychu commented on #410
@wck821829906 try changin `chrome:version: 73....` to `2.44` at least

[2019-05-15 09:23] stychu commented on #434
why it's still being outdated?? Every time I have to change the config file in node modules in order to chromedriver to properly work...

[2019-05-28 22:31] mike-d-davydov opened #437 "Enhancement request: ability to specify exact URL rather than generate path"
## Expected Behavior

Unfortunately, in many organizations access to virtually any binary resources on Web is restricted. It would be very helpful to have an ability to specify direct URL to the resource, rather than calculate it using baseURL and version (because path on intranet, as well as a filename may be quite different than one, calculated by selenium-standalone.

suggested install options

[2019-05-29 06:24] dodo9396 commented on #420
Has this been fixed? I'm facing the same issue.

[2019-06-01 22:26] xywang68 commented on #420
It has being fixed with the latest version.

[2019-06-03 13:30] nikhilo commented on #434
@stychu Can you tell how to change the config to use `2.44` ?
I'm seeing some problem with latest chrome, and I wanted to try with latest chromedriver

[2019-06-03 13:37] nikhilo commented on #434
Looks like updating `./node_modules/selenium-standalone/lib/default-config.js` did the job. But didn't help with my error. Nvm.

[2019-06-05 20:48] mkj28 commented on #420
@xywang68 you mean it is fixed in https://github.com/vvo/selenium-standalone/releases/tag/v6.16.0 ?

[2019-06-05 20:54] xywang68 commented on #420
Yes

On Wed, Jun 5, 2019 at 1:48 PM Michal Matyjek <notifications@github.com>
wrote:

[2019-06-05 20:55] mkj28 commented on #420
Yeah, just found it - it was actually picked up by https://github.com/vvo/selenium-standalone/releases/tag/v6.15.5 and later

[2019-06-06 13:31] Taewa opened #438 "ERROR: Unable to create new service: ChromeDriverService"
## Expected Behavior
I expect to see Chrome is being opened and start test by running `./node_modules/.bin/wdio wdio.e2e.conf.js`

## Current Behavior
When I run `./node_modules/.bin/wdio wdio.e2e.conf.js`, I see an error message.
[code]

I am confused with ChromeDriver.
From what I understand is that when the test start, Selenium tries to find chromedriver at `node_modules/selenium-standalone/.se

[2019-06-07 16:15] SD-Southpaw opened #439 "Getting error for selenium-standalone install command"
Hello - Im currently going through setting up a selenium environment. However when I attempt the following I am not getting the desired results; ./node_modules/.bin/selenium-standalone install
what is returned is: bash: ./node_modules/.bin/selenium-standalone: No such file or directory
Please see attached screenshot that shows my directory containing selenium-standalone and GitBash w my various at

[2019-06-10 17:05] tzujui commented on #439
Hi
/selenium-standalone does not exist in node_modules because it was not downloaded properly.
I am also unable to download selenium sever.jar file.
Getting this error message `Error: Could not download https://selenium-release.storage.googleapis.com/3.12/selenium-server-standalone-3.12.0.jar: Error: connect ETIMEDOUT 199.36.153.5:443`
I  tracked down and found out https://selenium-release.storage

[2019-06-10 17:17] tzujui commented on #438
Hi @Taewa
I am experiencing a similar issue and seeing timeout errors `Error: Could not download https://chromedriver.storage.googleapis.com/2.40/chromedriver_mac64.zip: Error: connect ETIMEDOUT 199.36.153.5:443` and `Error: Could not download https://selenium-release.storage.googleapis.com/3.12/selenium-server-standalone-3.12.0.jar: Error: connect ETIMEDOUT 199.36.153.5:443` I am not sure why but

[2019-06-10 22:30] SD-Southpaw commented on #439
Do you mind cp the steps and version(s) you did this for???? Thanks.

[2019-06-11 08:47] Taewa commented on #438
Hi @tzujui
Ok it's good to know that I was just unlucky.

[2019-06-12 10:37] tzujui commented on #439
I did `selenium-standalone install --version=3.12.0` and get `Error: Could not download https://selenium-release.storage.googleapis.com/3.12/selenium-server-standalone-3.12.0.jar: Error: connect ETIMEDOUT 199.36.153.5:443`. This is due to `https://selenium-release.storage.googleapis.com` being inaccessible. Not sure when it will be fixed.

[2019-06-12 13:26] Taewa commented on #438
@tzujui
I have created a new project and executed `npm i npm install selenium-standalone --save-dev`
But I don't find `.selenium` folder in `node_modules/selenium-standalone`.

I think it's something generated from local.
But I don't know how to generate.

Any idea?

[2019-06-12 14:24] #438 closed

[2019-06-12 15:28] tzujui commented on #438
@Taewa
Nice! Are you able to download the jar files now?
Also, I've ran into issues on file permission - make sure executables are `chmod 755`.

[2019-06-12 15:43] balukov commented on #434
same problem

[2019-06-13 16:06] SD-Southpaw commented on #439
I finally have resolved the error. It was because I did not have Java
installed. Thanks for your help.

On Wed, Jun 12, 2019 at 3:37 AM TJ:D <notifications@github.com> wrote:

[2019-07-10 03:25] rodrigovolkmer commented on #419
for those like me that couldn't use any of the methods above on the description, please refer to this link:

https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/21489934/

[2019-07-11 08:25] quanyaji commented on #131
you can use promisify
[code]

[2019-08-05 19:08] webOS101 commented on #434
With Chrome 75 and 76, this outdated chromedriver doesn't work for mouse actions.  This is causing a lot of failing tests.

[2019-10-08 14:05] sgauruseu commented on #406
This bug does not reproduce now.

My Env:
selenium-standalone 6.16.0
chromedriver 76.0
Java 11
Linux and Windows.

[2019-10-14 08:33] kad0108 opened #445 "Unable to install selenium v4.0.0-alpha-1"
#### Usage:
[code]

#### Current Behavior:
[code]

#### Expected Behavior:
Actually, the `4.0.0-alpha-1.jar` is below the dir `4.0/`, the right url is `https://npm.taobao.org/mirrors/selenium/4.0/selenium-server-standalone-4.0.0-alpha-1.jar`

And I found the [origin code](https://github.com/vvo/selenium-standalone/blob/ee0e5edf08237331249da12835191d85b3b2b966/lib/compute-download-urls.js#L43)  whi

[2019-10-14 10:22] Taewa opened #446 "How to update ChromeDriver?"
## Expected Behavior
Open Chrome with configured address.

## Current Behavior
When I run my test it runs `WebdriverIo4` and `selenium-standalone` and Chrome is open.
But the address bar shows `data:,` instead of `https://my-website.com`.

I have [found that I should update](https://github.com/webdriverio/webdriverio/issues/2250) my `chromedriver`.

I have [followed this steps to update](https://w

[2019-10-18 06:47] versedi commented on #433
Installation is successful but you still can't run it with single driver. It fails due to missing `geckodriver`.

Even while trying to run with a config file that specifies only a single driver:

`seleniumConfig.json`

[code]

`./node_modules/.bin/selenium-standalone start --config=tests/seleniumConfig.json`

[code]

But geckodriver can't be installed since it's FreeBSD and it requires a binary bu

[2019-10-31 01:45] visch commented on #326
Not the same error but to help fellow googlers I received this

[SEVERE]: CreatePlatformSocket() failed: Address family not supported by protocol (97)

This ended up being because I was running google chrome as root, which requires a "no-sandbox" parameter. In reality you shouldn't be running as root so shame on me.  My chrome driver couldn't communicate with chrome but there wasn't a super clear

[2019-11-11 23:45] kylewhitaker commented on #433
There is a difference between how the command line and API start commands merge drivers custom config with the default config. The command line will persist other drivers from the default config that are not specified in the custom config, whereas the API will ignore default config drivers not specified in a custom config.

See the difference with [this Repl sandbox example](https://repl.it/@kylew

[2019-11-12 08:52] wck821829906 commented on #433
my solution is to override default config (/node_modules/selenium-standalone/lib/default-config.js) with my customized config file, just like this:
![image](https://user-images.githubusercontent.com/17002975/68656261-707bf480-056c-11ea-8139-705b77666274.png)

[2019-11-17 16:08] kylewhitaker commented on #433
@wck821829906 Overriding the default config within node_modules is not a good solution. Other consumers of the code will have to manually do this. Also, your work could be overwritten with future installs forcing you to complete this task more than once.

I've submitted PR #448 to help solve this issue. In the meantime, you could write a simple javascript file to run the install/start for you. The

[2019-11-17 16:12] kylewhitaker commented on #361
@robcalcroft @kbartnik1 I've submitted PR #448 as a proposed solution to this request.

[2019-11-27 09:57] vvo commented on #433
closed by #448

[2019-11-27 09:57] #433 closed

[2019-11-27 09:57] vvo commented on #361
closed by #448

[2019-11-27 09:57] #361 closed

[2019-11-27 09:57] vvo commented on #325
closed by #448

[2019-11-27 09:57] #325 closed

[2019-12-13 14:07] kylewhitaker commented on #446
@Taewa It seems you might be missing the install step to get the driver you need. I recommend creating a custom config file and then running the install and start CLI commands. You'll need to update selenium-standalone to version 6.17.0 to use the `ignoreExtraDrivers` flag.

**selenium-custom-config.js**
[code]

Execute the install and start commands.
[code]

[2019-12-18 00:29] mgrybyk opened #449 "Custom path to hub to support selenium v4"
## Expected Behavior
I'd like to be able to change hardcoded path from `/wd/hub` to `/` to make selenium standalone work with selenium v4

## Current Behavior
- have to pass `seleniumArgs: 'standalone',`
- have to wait for one minute for [checkStarted](https://github.com/vvo/selenium-standalone/blob/master/lib/check-started.js#L6) to complete because the status path is hardcoded and set to `/wd/hu

[2019-12-18 09:55] mgrybyk commented on #449
Changed locally `/wd/hub/status` to `/status` and it works like a charm.

[2019-12-28 07:11] Pavankumar95153 commented on #179
Hi,
I'm getting the below error when I ran the following command $ ./node_modules/selenium-standalone/bin/selenium-standalone install. Currently I'm using node v12.13.0 and npm 6.12.0

not found: java
Usage: selenium-standalone action [options]

Please help me to fix the issue. I installed the selenium-standalone via globally.

[2019-12-28 12:35] vvo commented on #179
You need to install java jdk, google it

[2020-02-21 07:12] zcmgyu commented on #87
I've created PR for --allow-cors in selenium 4

https://github.com/SeleniumHQ/selenium/pull/7540
https://github.com/SeleniumHQ/selenium/pull/7634

[2020-03-06 04:11] hafmous opened #453 "Hi, I am trying to download the selenium-server-standalone-3.141.59.jar and my computer says "this file can harm your computer. ..." should I discard or keep ???"
## Expected Behavior
If you're describing a bug, tell us what should happen.
If you're suggesting a change/improvement, tell us how it should work.

## Current Behavior
If describing a bug, tell us what happens instead of the expected behavior.
If suggesting a change/improvement, explain the difference from current behavior.

## Steps to Reproduce
Provide an unambiguous set of steps to reproduce t

[2020-05-04 07:31] omprasad123 commented on #294
thanks

[2020-05-04 12:12] wolfoo2931 opened #457 "npm package "request" has been deprecated."
Since february the request package is deprecated and when someone installs selenium-standalon he sees a warning.

Is a pull request welcome?

Best Regards,
Oliver

[2020-05-13 12:50] osmolyar opened #458 "selenium-standalone does not download or start specified version of Edgedriver for Chrome-based Edge; always downloads 17134-MicrosoftEdgeDriver.exe"
## Expected Behavior
selenium-standalone should download version of edgedriver as specified in wdio.browser.setup.config when the --config is passed as an argument to selenium-standalone install.

## Current Behavior
With the browser.config setup below, or any other variation attempting to specify the latest version of edgedriver, selenium-standalone always ignores the specified version and always

[2020-05-28 13:36] theVernon124 commented on #458
Hoping for a resolution for this as well. Seems like the download urls for edge are hard-coded in `./lib/microsoft-edge-releases.js`, and judging from the `getEdgeDriverUrl()` function in `./lib/compute-download-urls.js`, the `drivers.edge.url` value doesn't get used.

[2020-06-23 04:42] snehalkulkarni20 commented on #458
Can this issue be addressed ? I am using WDIO6 and Chromium Edge version 83. However, the driver thats getting installed by default is always the legacy one 17134-MicrosoftEdgeDriver.exe
Because of this unable to execute my automation scripts on Edge. Can the compatible edge driver version 83 not be installed at runtime to solve this issue ?

[2020-06-23 07:00] snehalkulkarni20 opened #459 "Selenium-Standalone does not fetch the latest Edge version 83 driver"
## Behavior
 I am using WDIO6 and Chromium Edge version 83. However, the driver that is getting installed by default is always the legacy one 17134-MicrosoftEdgeDriver.exe
Because of this unable to execute my automation scripts on Edge. Can the compatible edge driver version 83 not be installed at runtime to solve this issue ?

## Steps to Reproduce
Steps to reproduce the behavior:
When i use Edge

[2020-06-23 17:52] pjcalvo commented on #459
duplicated of https://github.com/vvo/selenium-standalone/issues/458 ?

[2020-07-01 05:51] sanjeethgwd commented on #458
+1

Chromium Edge drivers fail to download, even when they are configured with another endpoint url for downloads, it defaults to baseURL(_see logs below_) from selenium-standalone

[code]

**Error Logs**:

[2020-07-07 07:52] vvo commented on #457
@wolfoo2931 Yes, PR welcome to fix that, mention me when it's ready!

[2020-07-15 15:18] Taewa opened #464 "Does Selenium-standalone use ChromeDriver by default?"
(I removed all preset of question buecase it's not a bug)

Hi all,
Sorry if it's a silly question.
I'd heard that Puppeteer is a good choice for the UI testing because it can control natively Chrome browser with ChromeDriver.

But I see ChromeDriver in selenium-standalone's folder (`selenium-standalone/.selenium/chromedriver/2.43-x64-chromedriver`).
So can I say Selenium-standalone uses ChromeDriv

[2020-07-15 20:55] vvo commented on #464
Yes.

web driver is the protocol that allows different browsers to be controlled by selenium to do actions like "clicks" in an automated way. Since every browser has different APIs internally, they made something like a standard where evreyone speaks the same language (web driver protocol), even if their internal implementation of how to do a click is different. And ChromeDriver must be something

[2020-07-15 20:55] #464 closed

[2020-07-20 12:56] #434 closed

[2020-07-20 13:12] vvo commented on #458
Hey there, while I can release selenium-standalone, I cannot fix this at the moment because I have no idea anymore how to do it AND I am not even using the library I created. So you can have a look at the code and give it a try!

I am welcoming maintainers too, I have done it over the years and it went well. Thanks!

[2020-07-23 08:29] hieuxlu commented on #445
If no one has been work on this, I can take this up, just a minor change to support `alpha` syntax, so `4.0.0-alpha-6 => `4.0-alpha`. A nice to have would be to be able to specify a custom URL.
[code]

[2020-08-14 09:06] trinhpham opened #468 "[Feature Request] Support download latest driver version"
## Expected Behavior
Basically, automation scripts should know the exact version of browser & browser's driver it is going to interact.
However, browsers are updated automatically, there's a need to get our automation scripts be updated.
I think it would be the best if we can set `LATEST` to the `driver.version` at the installation phase, then the service would install latest drivers version.

##

[2020-08-14 09:18] trinhpham commented on #458
It's sad to know that. I have just reached and seen that you did an excellent library.
Just made a feature request 😢
I am not confident enough to apply for this repository maintainer position. Let me give it a try.

[2020-08-16 13:49] vvo commented on #468
I guess you could also parse https://selenium-release.storage.googleapis.com/, find the most recent date and use that.

No idea! But you could always ask them/their maintainers if you hunt them down or find the right repository to ask the question.

Yes, I think it's a good idea, it could be the new default behavior if it makes sense (given we bump a major version). Thus we could remove the "defau

[2020-08-18 02:15] trinhpham commented on #468
Due to [NodeJS release], even NodeJS v8 - the version that support promises/await - was retired. Should we drop support all NodeJS versions that are older than 8 @vvo ?

[2020-08-18 07:17] vvo commented on #468
Yes, that should be fine indeed, see https://nodejs.org/metrics/#operating-systems

[2020-08-28 06:36] nsklyarov commented on #446
after resolve this issue - https://github.com/vvo/selenium-standalone/issues/468
specifying the exact version of chrome is not required?

[2020-08-28 10:59] frathe commented on #468
This should be quite high on the agenda.
Finding the correct way to configure this in the codeceptjs config was painful, since there is no documentation of this.
I just leave this here should anybody else fall into this pit:
[code]

[2020-08-28 11:04] frathe commented on #446
Finding the correct way to configure the chrome version in the codeceptjs config was painful, since there is no documentation of this.
I just leave this here should anybody else fall into this pit:
[code]

[2020-08-29 02:34] trinhpham commented on #468
@vvo: I found that [webdriver-manager](https://github.com/angular/webdriver-manager) is doing the job already. It's actively maintain by some people there. It's sad to say that this package has completed its mission really well and can be retired. I'll leave this feature request open so if you (and others) would like to keep going on.

@frathe CodeceptJS uses WDIO behind the scene, so you can find

[2020-08-31 19:14] vvo commented on #468
@trinhpham thanks! I would be more than happy to archive this repository and point to webdriver-manager. From your experience, are every features from selenium-standalone inside webdriver-manager?

Also pinging @christian-bromann, hi there, do you know if we could replace selenium-standalone completely with https://github.com/angular/webdriver-manager? thanks!

[2020-09-03 04:47] trinhpham commented on #468
@vvo not all, but it matches some of my need:

- [x] Able to get latest & specified driver version of Chrome & Firefox
- [x] Able to get latest & specified jar file version of selenium
- [x] Able to start the selenium server with downloaded drivers
- [ ] WDIO plugin
- [ ] MS Edge Chromium

[2020-09-03 06:34] christian-bromann commented on #468
It hasn't seen any contributions for over a year.

Theoretically you could replace it without the user seeing much difference.

[2020-09-03 08:48] VicGrygorchyk commented on #458
Based from my experience I believe it's not an issues with this lib itself, but more about Selenium Java server, which version 3.14 doesn't support new Edge-Chromium. You can run Edge browser against Selenium server 4, but it's in alpha stage right now,

[2020-09-03 17:20] andreyagra commented on #446
@frathe I' facing the same problem... but how could I use this configuration to update my environment? I didn't find an answer anywhere.

[2020-09-03 17:46] osmolyar commented on #458
@VicGrygorchyk you can run Edge browser driver fine with Java Server if you use the Chrome-based Edge driver, using the below workaround:

-Install latest chrome-based Edge:
https://support.microsoft.com/en-us/help/4501095/download-the-new-microsoft-edge-based-on-chromium
-Install latest edgedriver:
https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/;
-Set capability { browserNam

[2020-09-04 06:52] VicGrygorchyk commented on #458
@osmolyar I didn't get the trick. Shall `-Dwebdriver.edge.driver=""` be empty string? I mean, is it expected `=""`, or should I pass a path to my `webdriver.edge.driver` ?

[2020-09-05 16:34] osmolyar commented on #458
@VicGrygorchyk corrected formatting above; it should be the path to the driver.  (The point being that is should be possible to fix selenium-standalone)

[2020-09-07 05:40] sanyee04 commented on #458
hi @vvo, can you please add me as contributor? I created a branch to fix this issue and I'd like to create a PR, we also need it for our project.

[2020-09-09 07:59] Zw3rv3r opened #473 "Webdrivers not found on path in TypeScript project"
We're using selenium-standalone in out NPM project to test Cucumber scenario's with selenium-webdriver.

In our JavaScript projects the webdrivers are automatically found.
In our TypeScript project the webdrivers are not found (Error: The ChromeDriver could not be found on the current PATH.)

It can be solved with just adding the paths to PATH (a bit ugly) but I want to know what makes the differe

[2020-09-10 02:31] trinhpham commented on #458
@sanyee04 make your PR then @vvo (and others) would try to review.
If I was Vincent, I would have to trust your code first before I could give you the role.

[2020-09-10 05:07] sanyee04 commented on #458
@trinhpham I get a 403 when I try to create a branch on this repo. Without that I'm not sure how to create a PR.
![403](https://user-images.githubusercontent.com/7722563/92683812-90bb4200-f33c-11ea-95cb-e7acabc5bf63.PNG)
@vvo can you please give me enough rights to just create a branch and a PR? Otherwise I can't submit my proposed fix.
In that case I'll just create a fork and use it that way, but

[2020-09-10 05:31] sanjeethgwd commented on #458
@trinhpham fork pull-request to upstream repo would work here..

[2020-09-10 06:39] sanyee04 commented on #458
thanks @sanjeethgwd that's correct. forked the repo and created the PR: https://github.com/vvo/selenium-standalone/pull/474

[2020-09-10 08:20] vvo commented on #458
I see you started your first PR, let's go with that!

[2020-09-11 13:32] #458 closed

[2020-09-17 16:30] MHolmes91 opened #479 "Mac OSX v6.20.0 chromiumedge driver install failure (self signed certificate error)"
## Expected Behavior
chromiumedge driver installs without issue. This works in v6.19.0

## Current Behavior
Could not request headers from https://msedgedriver.azureedge.net/86.0.600.0/edgedriver_mac64.zip: Error: self signed certificate in certificate chain. Running `curl Https://msedgedriver.azureedge.net/86.0.600.0/edgedriver_mac64.zip > test.zip` works.

## Steps to Reproduce

On Mac OSX:
1.

[2020-09-18 11:13] mgrybyk opened #480 "Make arch and baseURL optional in tpyes"
## Expected Behavior

`arch` and `baseURL` should be optional in types according to [default-config](https://github.com/vvo/selenium-standalone/blob/master/lib/default-config.js) and [install](https://github.com/vvo/selenium-standalone/blob/3f9f977c8a4047b7ab73a4ac2f85c22a747b754a/lib/install.js#L36)

[2020-09-18 11:15] mgrybyk commented on #480
Please approve https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47761

[2020-09-21 08:43] mgrybyk commented on #480
Types were updated

[2020-09-21 08:43] #480 closed

[2020-09-22 14:41] vvo commented on #480
👍

[2020-10-07 13:26] LucasOder66 commented on #121
We have 2020 and I think it might still not be possible to install selenium in an offline eviroment. I love all the cool open source tools but dude, they all need to make offline installers for their tools.

[2020-10-07 13:45] #121 closed

[2020-10-07 13:46] oliviertassinari commented on #121
Closing as I do no longer need this feature.

[2020-10-09 20:33] mgrybyk commented on #479
Can you try without VPN?

[2020-10-09 20:36] #406 closed

[2020-10-09 20:38] mgrybyk commented on #473
Please provide a reproducible example.

Closing for now but feel free to re-open.

Cheers!

[2020-10-09 20:38] #473 closed

[2020-10-09 20:39] mgrybyk commented on #459
Should be resolved now, feel free to reopen if it's not!

[2020-10-09 20:39] #459 closed

[2020-10-09 20:39] mgrybyk commented on #453
You should keep selenium standalone server

[2020-10-09 20:39] #453 closed

[2020-10-09 20:41] mgrybyk commented on #446
Thanks for posting the answer!

[2020-10-09 20:41] #446 closed

[2020-10-09 20:45] #439 closed

[2020-10-09 20:47] mgrybyk commented on #435
please provide with a short reproducible example, closing for now

[2020-10-09 20:47] #435 closed

[2020-10-09 20:47] mgrybyk commented on #432
If it's still an issue please provide with a reproducible example

Thanks!

[2020-10-09 20:47] #432 closed

[2020-10-09 20:50] mgrybyk commented on #431
Please try with the latest version of the package, works fine in Circle CI https://github.com/mgrybyk/wdio-jasmine-boilerplate/blob/master/.circleci/config.yml

Make sure you have nodejs and java in your image.

[2020-10-09 20:50] #431 closed

[2020-10-09 20:51] mgrybyk commented on #428
I think it's not supported, feel free to raise a PR for that!

[2020-10-09 20:52] mgrybyk commented on #421
Feel free to raise a fix for that!

Thanks

[2020-10-09 20:52] #420 closed

[2020-10-09 20:53] mgrybyk commented on #415
Please try the latest version

[2020-10-09 20:53] #415 closed

[2020-10-09 20:53] mgrybyk commented on #417
fixed now

[2020-10-09 20:53] #417 closed

[2020-10-09 20:55] mgrybyk commented on #412
To run selenium-standalone in docker you need to have Java and NodeJS.
It would be better to run browsers in headless mode.

[2020-10-09 20:55] #412 closed

[2020-10-09 20:56] mgrybyk commented on #410
Please raise an issue to chromium if it still actual.

Thanks

[2020-10-09 20:56] #410 closed

[2020-10-09 20:57] #409 closed

[2020-10-09 20:58] mgrybyk commented on #390
Hello,
the question is not related to the selenium-standalone

[2020-10-09 20:58] #390 closed

[2020-10-09 21:00] mgrybyk commented on #419
Please use edge chromium instead

[2020-10-09 21:00] #419 closed

[2020-10-09 21:02] mgrybyk commented on #358
fixed now

[2020-10-09 21:02] #358 closed

[2020-10-09 21:10] #350 closed

[2020-10-09 21:12] mgrybyk commented on #336
Please try with the latest version and provide with reproducible example if the issue persists.

Thanks

[2020-10-09 21:13] mgrybyk commented on #356
Feel free to reopen if it's still an issue. Thanks!

[2020-10-09 21:13] #356 closed

[2020-10-09 21:15] mgrybyk commented on #326
Try running the latest version of Chrome in headless mode with args `'--headless', '--no-sandbox'`

[2020-10-09 21:15] #326 closed

[2020-10-09 21:27] #323 closed

[2020-10-09 21:27] #312 closed

[2020-10-09 21:28] mgrybyk commented on #307
Please try the latest version.

Thanks!

[2020-10-09 21:28] #307 closed

[2020-10-09 21:28] mgrybyk commented on #306
Closing due to inactivity

[2020-10-09 21:28] #306 closed

[2020-10-09 21:29] mgrybyk commented on #303
Please try the latest version.

Thanks!

[2020-10-09 21:29] #303 closed

[2020-10-09 21:29] #336 closed

[2020-10-09 21:31] mgrybyk commented on #351
Please try the latest version.

Feel free to re-open if the issue persists.

Thanks!

[2020-10-09 21:31] #351 closed

[2020-10-09 21:32] #292 closed

[2020-10-09 21:32] mgrybyk commented on #283
Please try the latest version.

Feel free to re-open if the issue persists.

Thanks!

[2020-10-09 21:32] #283 closed

[2020-10-09 21:33] #279 closed

[2020-10-09 21:33] #265 closed

[2020-10-09 21:34] mgrybyk commented on #254
Closing due to inactivity, feel free to raise PR or re-open the issue

[2020-10-09 21:34] #254 closed

[2020-10-09 21:34] mgrybyk commented on #253
Please try the latest version.

Feel free to re-open if the issue persists.

Thanks!

[2020-10-09 21:34] #244 closed

[2020-10-09 21:36] mgrybyk commented on #242
Please try the latest version.

Feel free to re-open if the issue persists.

Thanks!

[2020-10-09 21:36] #242 closed

[2020-10-09 21:37] mgrybyk commented on #212
Please try the latest version.

Feel free to re-open if the issue persists.

Thanks!

[2020-10-09 21:37] #212 closed

[2020-10-09 21:39] mgrybyk commented on #205
See https://github.com/vvo/selenium-standalone/issues/468

[2020-10-09 21:39] #205 closed

[2020-10-09 21:39] #199 closed

[2020-10-09 21:40] #182 closed

[2020-10-09 21:40] #179 closed

[2020-10-09 21:40] #176 closed

[2020-10-09 21:41] mgrybyk commented on #175
`selenium-standalone start > selenium.log` works on windows as well

[2020-10-09 21:41] #175 closed

[2020-10-09 21:41] #171 closed

[2020-10-09 21:42] mgrybyk commented on #170
Closing due to inactivity

[2020-10-09 21:42] #170 closed

[2020-10-09 21:42] #355 closed

[2020-10-09 21:43] #115 closed

[2020-10-09 21:44] mgrybyk commented on #117
Feel free to raise a PR when ready

[2020-10-09 21:44] #125 closed

[2020-10-09 21:44] #130 closed

[2020-10-09 21:45] #131 closed

[2020-10-09 21:46] mgrybyk commented on #134
Closing due to inactivity

[2020-10-09 21:46] #134 closed

[2020-10-09 21:46] mgrybyk commented on #139
Closing due to inactivity

[2020-10-09 21:46] #139 closed

[2020-10-09 21:47] #158 closed

[2020-10-09 21:48] #372 closed

[2020-10-09 21:50] #479 closed

[2020-10-18 13:36] jonesh66 commented on #449
I would like to take this up @mgrybyk

[2020-10-18 13:44] mgrybyk commented on #449
Assigned to you, thanks a lot @jonesh66

[2020-10-18 20:05] marlonemmerich commented on #377
hmm..
Maybe I can help with this if you want

[2020-10-18 21:42] mgrybyk commented on #377
Go aheas, please add go CI as well

[2020-10-19 19:28] humphreyn commented on #358
big :+1:

[2020-10-23 01:04] marlonemmerich commented on #377
Hello!
I've created a new [PR](https://github.com/vvo/selenium-standalone/pull/484) (484).
But sure if we run "npm run lint" we will get some erros and warnings. With this command link will the folders "lib" and "bin".
It's some think like this you have in your mind?
if not, just tell me! Cya!

[2020-10-23 01:20] mgrybyk commented on #377
Let's proceed convo in the PR

[2020-10-23 01:20] #377 closed

[2020-11-20 11:55] thomasschuiki commented on #457
Hi,

is this still "available"? I would like to give it a try.

@vvo Any preference which library should be used to replace _request_?
The request repo lists a few alternatives https://github.com/request/request/issues/3143.

For example there is [bent](https://github.com/mikeal/bent) by the creator of request.

Best regards,
Thomas

[2020-11-20 12:11] mgrybyk commented on #457
@thomasschuiki please use got https://www.npmjs.com/package/got

[2020-11-20 12:14] mgrybyk commented on #457
If you believe bent should work better, feel free to use it.
It would be great if you can build a simple abstraction over the library to make it easier replacing them in the future

[2020-11-20 12:22] thomasschuiki commented on #457
I have no preference myself. I will try got first and if I run into issues give bent a try.

Good idea. I will see what I can do :)

[2020-11-24 08:57] thomasschuiki commented on #457
I created a pull request #487 to replace request with got.

I will look into an abstraction once this is reviewed and create a new PR for that.

[2020-11-24 09:15] mgrybyk commented on #457
Can you please do it within single PR?

Let's proceed convo in the PR

[2020-11-24 09:15] #457 closed

[2020-11-24 11:55] ablok opened #488 "Installing more recent ChromiumEdge driver versions fails"
## Expected Behavior
Running `npx selenium-standalone install --drivers.chromiumedge.version=86.0.622.69` should finish without any errors.

## Current Behavior
Installation does not complete and throws the following error: `Callback was already called.`
However, older versions, for instance 86.0.622.0 do seem to work without any issue. I looked at the zip files (https://msedgewebdriverstorage.z22

[2020-11-24 12:19] gowthamraj198 opened #489 "selenium standalone throwing error: Error: Callback was already called"
## Issue

I am trying to run my WDIO tests. When i run the tests in local it is running fine. But when i Try to run in docker (CentOS) below error is thrown.

I am using nodejs version v15.2.1

## Error logs
root/node_modules/selenium-standalone/lib/install.js:626
      cb(new Error("Could not request headers from " + url + ": " + err));
      ^
Error: Callback was already called.
    at /root/nod

[2020-11-24 12:22] christian-bromann commented on #489
duplicate of #488

[2020-11-24 13:02] Gennadiii opened #490 "Latest selenium-standalone uses old chrome driver"
## Expected Behavior
I expect chrome driver v87 to be started

## Current Behavior
chrome driver v85 is started

## Steps to Reproduce
1.  Just follow installation instructions from readme
npm install selenium-standalone@latest -g
selenium-standalone install && selenium-standalone start

## Logs
λ selenium-standalone start
14:54:40.037 INFO [GridLauncherV3.parse] - Selenium server version: 3.141.5

[2020-11-25 09:22] HananArgov commented on #490
we can see the reason here:
https://github.com/vvo/selenium-standalone/commit/a08d7f4d13872e5024126cb44231b278345a84c2

[2020-11-25 09:49] mgrybyk commented on #490
Please set browser version explicitly

[2020-11-25 09:49] #490 closed

[2020-11-25 09:52] Gennadiii commented on #490
@mgrybyk Done. But any 87.x won't work with driver 85.x

[2020-11-25 09:53] mgrybyk commented on #490
Of course, that's why I said to set browser driver version explicitly

[2020-11-25 09:55] Gennadiii commented on #490
It's in logs. But anyways don't see how it matters.

[2020-11-25 10:02] mgrybyk commented on #490
The chrome browser driver major version should match the major version of your chrome browser. Chrome driver 85 usually works properly with chrome 85

[2020-11-25 10:06] Gennadiii commented on #490
Yeah I know that. That's why I indicated only major versions. I tried wdio docs but still got driver v85.x.

[2020-11-25 10:10] Gennadiii commented on #490
BTW isn't the reason of this package is for me to not worry about selenium server and browsers drivers?

[2020-11-25 10:26] mgrybyk commented on #490
If you use the package properly and have browser installed that matcher browser driver versions you specified than yes

[2020-11-25 11:08] #489 closed

[2020-11-25 12:07] mgrybyk commented on #488
one word here is - god damn edge. 🥇

starting somewhere in the middle of v86 edge requires `libc++.dylib`.
If you have edge 86 it would work, but not for version 87.

Edge driver version 87 still requires `libc++.dylib` (or something) but edge is not shipped with it.

I haven't found any solution on how to run edge driver 87 on MacOS (it's not related to selenium standalone anyhow).

Conclusion: e

[2020-11-25 12:19] mgrybyk opened #491 "Each browser driver should be in it's own folder"
current structure:
[code]
it causes conflicts as far as some browser drivers like edge are shipped with extra libraries, ex `libc++.dylib`

expected structure
[code]

[2020-11-25 12:19] mgrybyk commented on #428
https://github.com/vvo/selenium-standalone/issues/491 should be done as a part of this issue

[2020-11-25 14:49] #488 closed

[2020-11-25 16:07] mgrybyk opened #496 "Add NodeJS 15 support"
At the moment installation and tests are failing with NodeJS 15

when fixing this one please take into account the following:
- mocha should be updated to the latest version
- `- TRAVIS_NODE_VERSION=15` should be added to `env` section in `.travis.yml` file

[2020-11-25 21:42] #376 closed

[2020-11-26 00:47] mgrybyk commented on #357
should be fixed with https://github.com/vvo/selenium-standalone/pull/497

[2020-11-26 00:47] #357 closed

[2020-11-26 01:06] mgrybyk opened #502 "Replace `async` package with native promises"
Replace `async` package with native promises.

- ECMAScript 2019
- NodeJS 12

[2020-11-26 01:12] mgrybyk opened #503 "Drop NodeJS below 12"
minimum supported NodeJS version should be 12

- remove all the references in the code, docs, scripts, etc with the usage of NodeJS below 12
- set NodeJS version in package.json file

[2020-11-26 01:19] mgrybyk opened #504 "Upgrade commander and mocha to the latest versions"
Upgrade the following packages to the latest versions:
- `commander`
- `mocha`

[2020-11-26 01:50] mgrybyk opened #505 "Replace deprecated fs.exist"
Replace deprecated `fs.exist` and `fs.existSync` with `fs.access` or [fs-extra](https://www.npmjs.com/package/fs-extra)

[2020-11-26 18:53] #502 closed

[2020-11-26 19:15] #468 closed

[2020-11-26 19:16] mgrybyk opened #511 "Support latest version for geckodriver"
Use [github api](https://api.github.com/repos/mozilla/geckodriver/releases/latest) to support latest version of geckodriver

[2020-11-26 19:19] mgrybyk commented on #468
done for chrome and edge chromium. I've raised another ticket to deal with geckodriver in the future.

Feel free to raise for issue/PR other components/drivers if needed.

Thanks

[2020-11-26 21:10] #511 closed

[2020-11-27 11:36] #496 closed

[2020-11-27 11:37] mgrybyk commented on #496
available since v6.22.0

[2020-11-27 11:39] mgrybyk commented on #449
@jonesh66 do you still able to tackle this one?

[2020-11-29 19:57] gulatirajat opened #515 "Error during download of Selenium Standalone jar and browser drivers with v6.22.1"
I am using WebDriverIO v6. The underlying components are on latest version.
I am using @wdio/selenium-standalone-service@**6.10.3**, which in-turn installs selenium-standalone@^**6.22.1** as a dependency.
System: **macOS Catalina 10.15.7 (19H15)**

The selenium standalone jar as well as the browser drivers do not get downloaded during npm install. When I start with the test execution, I am expecti

[2020-11-29 20:08] mgrybyk commented on #515
Are you able to manually download geckodriver?

[2020-11-30 02:35] gulatirajat commented on #515
Able to manually download geckodriver.
This error log has geckodriver, however may very well could have been for Selenium standalone jar or Chromedriver.

1. Clean remove existing node_modules  .
2. Ensure following versions in package.json
@wdio/cli - 6.10.2
@wdio/sync - 6.10.0
 @wdio/local-runner - 6.10.2 
@wdio/selenium-standalone-service - 6.10.3 (=> dependency - "selenium-standalone": "^6.22.

[2020-11-30 06:21] mgrybyk commented on #515
It doesn't result any error for me

[2020-11-30 09:50] L0tso opened #516 "Selenium-standalone tries to install non-existent edgedriver version for linux"
## Current Behavior
I am using Selenium-standalone as part of my wdio tests. Selenium-standalone tries to installl non-existent edgedriver version for linux from https://msedgedriver.azureedge.net/87.0.664.47/edgedriver_linux64.zip

package-json
[code]
wdio-config:
[code]

## Logs
[code]

## Your Environment
* Version of `selenium-standalone` that you are using: 6.22.1
* Is there another tool call

[2020-11-30 09:55] mgrybyk commented on #516
Undesired browser download will be fixed with https://github.com/webdriverio/webdriverio/pull/6176

To workaround it temporary add chromiumedge: false

[2020-11-30 09:55] #516 closed

[2020-11-30 10:23] L0tso commented on #516
@mgrybyk Great!
But in case I need the latest chromiumedge version for Linux, it will throw an error.

[2020-11-30 10:25] mgrybyk commented on #516
yeah, because it doesn't exist

[2020-11-30 11:09] mgrybyk opened #517 "Enable Edge for linux once officially released"
Disabling `chromiumedge` download/start until it's officially released

Should be enabled in `install.js` and `start.js` files.

[2020-11-30 14:20] jonesh66 commented on #449
@mgrybyk yes I can. What I was thinking is to check if the version contains '4', and if it does, I modify `const nodeStatusAPIPath = '/wd/hub/status'` to   `const nodeStatusAPIPath = '/status';`
Additionally, I want to append `seleniumArgs: ['standalone']` to the options object if the selenium version is 4. Does that sound right?

[2020-11-30 14:26] jonesh66 commented on #449
However, I was unable to see the 60 second wait as described in the bug because an error is returned if the number of attempts is less than 0. This takes about five seconds.

[2020-11-30 21:17] web-padawan commented on #515
Got the same error when using v6.22.1:

[code]

[2020-11-30 21:19] mgrybyk commented on #515
@web-padawan is it linux?
Try upgrading to 6.22.2

[2020-11-30 21:52] web-padawan commented on #515
I already upgraded to 6.22.2 but still getting this error when running tests in GitHub Actions.

See example: https://github.com/modernweb-dev/web/pull/1033/checks?check_run_id=1476572545

Note, the PR contains `yarn.lock` bump so it shouldn't be a caching issue, and the build passes locally on MacOS 10.15

[2020-11-30 22:13] mgrybyk commented on #515
@web-padawan it should not be an issue anymore. Check your dependencies and make sure you are not installing edge

[2020-12-01 07:56] web-padawan commented on #515
Thanks, as I mentioned, locally it works so it's most likely a GitHub Actions issue in my case.

[2020-12-01 10:14] mgrybyk commented on #445
@hieuxlu are you still able to help with this one?

[2020-12-01 10:18] hieuxlu commented on #445
Yes, are you a maintainer? I see no replies from the team so didn't take any action.

[2020-12-01 10:21] mgrybyk commented on #445
What do you think if we implement this one https://github.com/vvo/selenium-standalone/issues/437 instead? It would allow inatalling v4 by exact url

[2020-12-01 10:56] hieuxlu commented on #445
Ah I saw that one too, but it's been 2 years old and need more effort. I agree that would be the best approach. It makes sense to start working on that and close this one.

[2020-12-01 11:32] #437 closed

[2020-12-01 11:34] mgrybyk commented on #445
On it.

In order to download selenium v4, please specify `fullURL`, ex
[code]

See CLI/API docs for more details

[2020-12-01 11:34] #445 closed

[2020-12-01 18:13] jedwards1211 commented on #491
What does it mean if I have 2.43-x64-chromedriver instead of an actual Chrome version number?

[2020-12-01 19:06] lviana-menlosecurity commented on #515
@mgrybyk, I'm installing 6.22.2 on Ubuntu and it seems to install just fine (albeit without the edge driver):
`ubuntu@jenkins-ova-test-node8:/opt/selenium$ sudo npm install selenium-standalone@latest -g
/usr/local/bin/selenium-standalone -> /usr/local/lib/node_modules/selenium-standalone/bin/selenium-standalone
/usr/local/bin/start-selenium -> /usr/local/lib/node_modules/selenium-standalone/bin/st

[2020-12-01 19:20] mgrybyk commented on #515
That's weird, edge should not be neither installed nor started. Are you starting or installing it yourself?
Try deleting node modules folder

[2020-12-01 19:39] lviana-menlosecurity commented on #515
@mgrybyk, edge is **not** getting installed, as expected (and we don't even use it). The problem is that once we start a **chrome** test, it fails immediately, and when you look at the selenium logs you see that the reason is because it was checking for edge existence (is it even supposed to check for that?), and since it's not there it fails. (and again, up until 6.21.0, it looks like this did **

[2020-12-01 19:56] mgrybyk commented on #515
Have you tried 6.22.2?

[2020-12-01 20:01] lviana-menlosecurity commented on #515
Yes, the issue happens on 6.22.0, 6.22.1, and 6.22.2. Up until 6.21.0 it was fine.

[2020-12-01 20:16] mgrybyk commented on #515
Thanks for the logs and investigation.
Fixed in 6.23.0

[2020-12-01 20:16] #515 closed

[2020-12-01 20:39] Thermofish commented on #503
6.21.0 appears to have broken execution against NodeJS 8 due to the change from `request` to `got`.  These kind of breaking changes need to increase the major version to prevent downstream builds from failing.

[2020-12-02 12:38] venkygottipati opened #521 "org.apache.commons.exec.ExecuteException"
Hi All,

I am getting below error while running my script, Unable to launch the browser also ,please help me...
SEVERE: org.apache.commons.exec.ExecuteException: Execution failed (Exit value: -559038737. Caused by java.io.IOException: Cannot run program

[2020-12-02 14:30] mgrybyk commented on #521
Please provide proper steps to reproduce and follow issue template

[2020-12-02 14:30] #521 closed

[2020-12-03 19:41] gulatirajat commented on #515
The original problem, for which I had logged this issue - I was able to resolve it using the following lines of code in my 'wdio.local.conf.js':

==============================================================================
require('global-agent/bootstrap');

global.GLOBAL_AGENT.HTTP_PROXY = 'http://<mycorpproxy>:<port>';
global.GLOBAL_AGENT.HTTPS_PROXY = 'http://<mycorpproxy>:<port>';
global.GLO

[2020-12-03 20:04] mgrybyk commented on #515
Not quite sure what is that. Are you using some custom system proxy and had to disable it?

[2020-12-03 22:37] gulatirajat commented on #515
https://webdriver.io/docs/proxy.html
https://github.com/gajus/global-agent

This setup is for connection between the test script and the browser driver (or WebDriver endpoint) in case outbound traffic goes through a corporate proxy.

[2020-12-11 01:12] krulletc opened #528 "Edgedriver URL returns 400"
## Expected Behavior
Edgedriver should install from the url after running `selenium-standalone install`

## Current Behavior
on running `selenium-standalone install` I received a 404 error for the edgedriver.
[code]

## Steps to Reproduce
This was run on a Mac with node v15.4.0

1.  run `selenium-standalone install`

## Logs
[code]

## Your Environment
* Version of `selenium-standalone` that you a

[2020-12-11 01:37] krulletc commented on #528
It appears that Microsoft has updated the base URL for their Edge Chromedriver. I fixed this in my branch by updating the default-config.js.  I can open a PR, but believe I need access to do so. Github gave me an unauthorized error when I attempted to push a branch to this repo.

[2020-12-11 08:33] mgrybyk commented on #528
You don't need any access to the repp. Fork it first, then create branch in your fork, then raise PR. Look for how to raise PRs in github

[2020-12-11 08:37] #528 closed

[2020-12-22 17:31] JuniorCtba opened #534 "Error on getDownloadStream"
Version 6.23.0
Just run
selenium-standalone install && selenium-standalone start
![image](https://user-images.githubusercontent.com/13451867/102916229-f81b7e80-4461-11eb-9132-0ac1802720e4.png)

I guess that is a proxy issue, which proxy environment i should use? because i can download by the link.

[2020-12-22 21:06] mgrybyk commented on #534
Looks like proxy issue, closing then.

What kind of proxy do you use?

[2020-12-22 21:06] #534 closed

[2020-12-23 11:28] JuniorCtba commented on #534
@mgrybyk which proxy the selenium-standalone use? i have http_proxy https_proxy e no_proxy and they are working for the other package manager

[2020-12-23 11:35] mgrybyk commented on #534
@JuniorCtba got package is used for downloading, see https://www.npmjs.com/package/got#proxies

[2020-12-23 11:38] mgrybyk commented on #534
Are you using corporate proxy? https://github.com/vvo/selenium-standalone/issues/515#issuecomment-738250844

[2020-12-23 13:57] JuniorCtba commented on #534
@mgrybyk yes it is a corporate.

I just want to know which proxy env the selenium is using when i am running
selenium-standalone install && selenium-standalone start

[2020-12-23 13:59] mgrybyk commented on #534
Not sure to be honest, I can't test it, don't have any corporate proxies I can use :(

[2020-12-23 14:06] JuniorCtba commented on #534
@mgrybyk the is a away to set a proxy like that
selenium-standalone install --https-proxy http://localhost:8888 --http-proxy http://localhost:8888

[2020-12-23 14:07] mgrybyk commented on #534
Does it work for you?

[2020-12-23 14:22] JuniorCtba commented on #534
@mgrybyk sorry this was a question. :0
But will be good have the proxy setting in the cmd available

.

[2020-12-23 14:32] mgrybyk commented on #534
What OS do you have?

[2021-01-08 15:19] jmalczak commented on #528
I believe this is not permanently fixed:

<img width="1583" alt="image" src="https://user-images.githubusercontent.com/1000144/104031622-3be5e600-51cd-11eb-8fc6-e97c5d1fae67.png">

[2021-01-21 12:04] MonishaGitHub opened #540 "UnhandledPromiseRejection warning while starting selenium standalone server in NodeJS"
## Expected Behavior
Selenium standalone server should start in NodeJS but getting UnhandledPromiseRejectionWarning and server is not starting.

## Current Behavior

Seeing following message when starting selenium standalone server in NodeJS: npm selenium-standalone start

\AppData\Roaming\npm-cache\_npx\18720\node_modules\selenium-standalone\.selenium\chromedriver\latest-x64-chromedriver
    at A

[2021-01-21 14:06] mgrybyk commented on #540
Can you please provide with steps to reproduce and your system info? Can you try on another system?

[2021-01-21 14:41] #362 closed

[2021-01-21 16:54] MonishaGitHub commented on #540
This is on windows 10 using CodeceptJS.
Have downloaded Selenium standalone server and using command : npx selenium-standalone start but getting the error mentioned above.

Steps performed:
mkdir qa_automation
npm init -y

npm install codeceptjs webdriverio selenium-standalone --save-dev

npm install
npx codeceptjs init
npx selenium-standalone install
npm install chromedriver --save-dev
npx seleni

[2021-01-21 17:41] mgrybyk commented on #540
No need to install chromedriver if you have selenium standalone

[2021-01-21 17:43] mgrybyk commented on #540
Then, you should run install before running start.

[2021-01-21 17:43] #540 closed

[2021-03-26 11:49] JuniorCtba commented on #534
@mgrybyk sorry for the delay, but it is windows server

[2021-05-16 17:52] hanifahatiyabudianto opened #550 "Cannot install"
npm WARN pfm-estore@1.0.0 No description
npm WARN pfm-estore@1.0.0 No repository field.

+ selenium-webdriver@4.0.0-beta.3
added 10 packages from 19 contributors and audited 635 packages in 6.514s

49 packages are looking for funding
  run `npm fund` for details

found 5 vulnerabilities (3 low, 2 high)
  run `npm audit fix` to fix them, or `npm audit` for details

[2021-05-17 08:17] mgrybyk commented on #550
Please add logs and provide with steps to reproduce

[2021-06-17 10:34] christian-bromann opened #553 "Check if port is already in use"
## Expected Behavior
If I start selenium standalone on a port that is already in use I should get a proper error message telling me this problem.

## Current Behavior
If the running server response with a 404 the package tries to connect couple of times and eventually fails with no proper error message.

## Steps to Reproduce
Provide an unambiguous set of steps to reproduce this bug. Include comma

[2021-06-17 10:43] #550 closed

[2021-06-17 10:43] mgrybyk commented on #550
Closed due to inactivity

[2021-06-17 11:31] christian-bromann opened #554 "Selenium 4 support"
## Expected Behavior
If I define the new Selenium 4 standalone server I will be able to start it.

## Current Behavior
It errors out:

[code]

This is actually not the error message from the package I had to implement some additional process event listeners.

## Steps to Reproduce

Just try to start any Selenium v4 standalone server.

## Your Environment
* Version of `selenium-standalone` that you

[2021-06-17 12:18] mgrybyk commented on #554
@christian-bromann is it a high priority task?

[2021-06-17 20:52] kboers-legacy opened #555 "Chrome/Edge driver downloads fail with 404; missing version/current in URL"
## Expected Behavior
I expect `npx selenium-standalone install` to fetch the latest versions of the Chrome and Edge drivers (though I really only care about Chrome)

## Current Behavior
Driver downloads for Chrome/Edge fail with 404s. The URLs attempting to be fetched appear to be missing a version number. For example:  https://chromedriver.storage.googleapis.com//chromedriver_mac32.zip

## Steps

[2021-06-18 09:07] #554 closed

[2021-06-18 09:07] #449 closed

[2021-06-18 09:24] mgrybyk commented on #555
Looks like https://chromedriver.storage.googleapis.com/LATEST_RELEASE returned an empty string for you.
I'll add  a path to use fallback version instead.

[2021-06-18 09:29] #555 closed

[2021-06-18 10:52] #504 closed

[2021-06-18 10:53] #503 closed

[2021-06-18 12:10] mgrybyk commented on #553
will be fixed in 7.0

[2021-06-18 12:10] #553 closed

[2021-06-18 12:10] #505 closed

[2021-06-18 12:38] mgrybyk opened #557 "Use async functions in install-utils.js"
Replace callback hell with async functions in `install-utils.js`

[2021-06-18 12:54] #491 closed

[2021-06-18 13:51] mgrybyk opened #558 "Support Apple M1 arch"
- **Firefox**: it should be possible to download browser drivers for `aarch64`, for example `geckodriver-v0.29.1-macos-aarch64.tar.gz` see https://github.com/mozilla/geckodriver/releases/tag/v0.29.1
- **Chrome**: the same but it is `m1`, example `chromedriver_mac64_m1.zip` see https://chromedriver.storage.googleapis.com/index.html?path=91.0.4472.101/
- edge chromium doesn't support m1 at this mome

[2021-06-21 16:56] #558 closed

[2021-10-07 10:24] Zarmeena opened #567 "Setting 'skipSeleniumInstall:true' installs browser and selenium drivers"
## Expected Behavior
I don't want WDIO test runner to install selenium-standalone and browser drivers every time execution is triggered. Have set
'skipSeleniumInstall:true' in the runner file as well

## Current Behavior
Selenium-standalone and browser drivers are getting installed which is not required by my script execution
## Steps to Reproduce
Provide an unambiguous set of steps to reproduce t

[2021-10-09 07:56] lttrung112 opened #565 "Failed to start selenium-standalone on Circleci"
## Expected Behavior
Start selenium-standalone successfully

## Current Behavior
2021-10-09T04:44:04.954Z ERROR @wdio/cli:utils: A service failed in the 'onPrepare' hook
Error: not found: java
    at getNotFoundError (/home/circleci/project/node_modules/selenium-standalone/node_modules/which/which.js:10:17)
    at Function.whichSync [as sync] (/home/circleci/project/node_modules/selenium-standalon

[2021-10-11 07:26] christian-bromann commented on #565
It seems that the image your pipeline runs has no Java support. Maybe worth checking for an image that has Java and Node.js installed. If you only run Chrome and Firefox I recommend to use the chromedriver and geckodriver services instead as they don't require Java to be installed.

Closing as this is a configuration issue. Happy to provide further advice.

[2021-10-11 07:26] #565 closed

[2021-10-12 05:04] Zarmeena opened #566 "Unable to execute scripts in Internet Explorer 11, Terminates with 'Timeout Exceeded' Error"
## Expected Behavior
Test scripts should run in Internet Explorer 11 (IE 11) browser.

## Current Behavior
On triggering script execution in IE, the browser window is launched but no action happens (seems the window is freezed). After waiting for sometime, the execution terminates with 'Error: Timeout of 150000ms exceeded'.
Have done the following set up for execution on IE:

- Enabled 'Protected

[2021-10-12 06:59] christian-bromann commented on #566
Can you please provide all logs?

[2021-10-18 11:00] christian-bromann commented on #517
Reverted commit as Chromium Edge got released.

[2021-10-18 11:00] #517 closed

[2021-10-18 11:06] christian-bromann commented on #421
@wck821829906 what would you suggest as an expected behavior here? I believe the idea of `singleDriverInstall` is to re-install a single driver. This package requires all drivers to be installed.

One solution would be to introduce a parameter called `--singleDriverStart` and only run Selenium Standalone with this single driver. What do you all think?

[2021-10-18 11:55] #567 closed, assigned to nobody

[2021-10-19 06:18] Zarmeena commented on #566
I tried investigating and changed the IE driver as well, but the IE browser window seems unresponsive. Not sure why this is happening. Can you please advise some other way to debug this?

[2021-10-19 21:00] christian-bromann opened #569 "Browser fail to start"
## Expected Behavior
All browser should start within the container.

## Current Behavior
Non of the browser start, they fail due to errors like:

It would be nice to also have an e2e test for this.

[2021-10-19 21:02] christian-bromann opened #570 "Rewrite project into TypeScript"
We made the experience that switching to TypeScript had a good impact on the code quality and development velocity. We should also rewrite this project into TypeScript to leverage from the same.

[2021-10-20 11:59] christian-bromann commented on #570
Awesome, thanks for stepping in. I would suggest to tackle this in small pieces, e.g. rather raising many small PRs than one huge one.

[2021-10-21 08:57] christian-bromann commented on #570
@VedanthB sounds like a good approach, maybe have a first PR that provides the TS setup and already have the package point to the compiled JS files. Then a PR for every file.

[2021-10-21 09:54] christian-bromann commented on #569
Actually, I missed to run the session in headless mode. Adding more documentation to clarify this. Also adding a sentence to point people to the Docker Selenium project which is more maintained.

[2021-10-21 09:56] #569 closed, assigned to nobody

[2021-10-21 11:44] #421 closed, assigned to nobody

[2021-10-21 17:28] VedanthB commented on #570
I'll submit the PR in a day 😄

[2021-10-21 20:43] VedanthB commented on #570
i have cloned the project and `npm install` , what would be the next steps?

[2021-10-21 21:11] christian-bromann commented on #570
You should be able to run all tests via `npm test` now. The next step is setup TypeScript.

[2021-10-25 16:59] elukoyanov opened #571 "Cannot download 4.0.0"
## Expected Behavior
Download 4.0.0 version of selenium-standalone.

## Current Behavior
Cannot download:
[code]

## Steps to Reproduce
Provide an unambiguous set of steps to reproduce this bug. Include commands that you used
in the shell, or snippets of how you are using the JavaScript API.

1.  start with config:
`selenium-standalone install --config=./selenium-standalone.js`

[code]

## Your En

[2021-10-25 21:57] #571 closed, assigned to nobody

[2021-10-28 06:31] tomoo-kinoshita opened #572 "opts.javaArgs should be placed between java and -jar"
## Expected Behavior
`opts.javaArgs` should be placed between `java` and `-jar`.

## Current Behavior
`opts.javaArgs` are passed after `-jar fsPaths.selenium.installPath`.
I guess the order of `args.push` in `lib/start.js` has been changed from v7.1.0.

## Steps to Reproduce
Provide an unambiguous set of steps to reproduce this bug. Include commands that you used
in the shell, or snippets of how y

[2021-10-28 08:25] #572 closed, assigned to nobody

[2021-10-28 10:07] nmattia opened #573 "Failure to download driver does not throw error"
## Expected Behavior

When `selenium-standalone install` fails to download a driver, it should error out and return with a non-zero exit code.

## Current Behavior

[code]

## Your Environment
* Version of `selenium-standalone` that you are using: `selenium-standalone-7.1.0`
* Is there another tool calling `selenium-standalone` on your behalf: no
* System/platform: ubuntu

[2021-11-01 15:12] sgauruseu opened #582 "Selenium server does not start in 8.0.4 version"
Simple standalone test,  unpack and read the `README.md`
[standalone-test.zip](https://github.com/webdriverio/selenium-standalone/files/7454230/standalone-test.zip)
[code]

## Steps to Reproduce
1.  create a simple standalone test
2.  Specify in `package.json` the latest version of    `selenium-standalone: 8.0.4`
3.  Use the API for starting  the selenium server : https://github.com/webdriverio/se

[2021-11-21 16:42] third774 opened #585 "chromiumedgedriver 404's during selenium-standalone install (v8.0.4)"
## Expected Behavior
Expecting to be able to run these commands in succession and have selenium start up:
[code]

## Current Behavior
It seems that the `chromiumedgedriver` fails to download because of a 404

[code]

## Steps to Reproduce
Provide an unambiguous set of steps to reproduce this bug. Include commands that you used
in the shell, or snippets of how you are using the JavaScript API.

1.

[2021-11-22 04:31] nathanKramer commented on #585
This seems like the beginning of a workaround, I'm still having trouble starting `selenium-standalone` though

[code]

[2021-11-22 22:12] bek-mednax opened #589 "[🐛 Bug]: Error in "getDownloadStream". Could not download https://msedgedriver.azureedge.net/96.0.1054.29/edgedriver_mac64.zip"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

7.21.1

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

Error in "getDownloadStream"

[2021-11-23 12:02] pgagnidze commented on #589
@bek-mednax The workaround is to set only chrome or firefox drivers in the selenium-standalone service options, if you don't need to use edge at all.
[code]

[2021-11-23 13:46] bek-mednax commented on #589
@pgagnidze The workaround works perfectly, thank you!

[2021-11-24 10:21] harsha509 commented on #585
msedgedriver  'Version: 96.0.1054.29' is not available for Mac and Linux. you can check it in here https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/,

but still, WDIO tries to download it. Maybe you can try replacing other versions like 'Version: 96.0.1054.34' in the config file.

(or) WDIO needs to check before download in `getDownloadStream`

[2021-11-24 10:48] christian-bromann commented on #585
@harsha509 should wdio just silently fail with a not that the browser is not available for the given platform?

[2021-11-24 13:44] christian-bromann commented on #582
fixed in #590

[2021-11-24 13:44] #582 closed

[2021-11-25 05:32] harsha509 commented on #585
Hi @christian-bromann,

* Can we download only available drivers and print a warning message that the browser driver is not available for a given platform, and start the server (This only works if the browser declared is x and driver failed to download is Y)

(or)

* Can we fail silently and print messages like `use drivers: {chrome: true} to avoid downloading other drivers`

(or)

* Can we fail s

[2021-11-25 07:47] christian-bromann commented on #585
Totally agree with this. Let's implement it this way.

[2021-11-25 12:04] VadimZvf commented on #589
![Снимок экрана 2021-11-25 в 14 43 28](https://user-images.githubusercontent.com/13214738/143438503-5ca0b029-eb68-4f52-afe0-67461ede2605.png)

☹️

https://developer.microsoft.com/ru-ru/microsoft-edge/tools/webdriver/

[2021-11-25 14:24] harsha509 commented on #573
Hi @nmattia,

While am trying to debug this issue, AFAIK this issue only persists with edgewebdriver.
In the above log, I see the provided chrome version is `94.0.4606.81` is not available in https://chromedriver.chromium.org/downloads for any platform.

Please let me know if am wrong!

[2021-11-25 16:47] nmattia commented on #573
I believe that's correct, and that's probably why it failed! Note that it's not a big problem getting a 404, the issue was that it failed silently (this ran on CI and the error bubbled up way later).

[2021-11-26 01:29] nathanKramer commented on #585
For those using `wdio`, you can use this in your config to download / use specific drivers:

[code]

[2021-11-26 15:26] helloromero commented on #589
+1 same issue

[2021-11-29 03:32] gowthamraj198 opened #592 "[🐛 Bug]: error in downloading selenium-standalone - Error in "getDownloadStream""
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

from last few days, i started getti

[2021-11-29 08:20] christian-bromann commented on #592
The source url has changed between v3.141 and v4 and the current version works with 4 but not 3.141. Any contribution to resolve that resolve the bug are appreciated.

[2021-11-29 08:28] christian-bromann commented on #589
@helloromero et. al. any contributions to resolve the issue are appreciated. Please get involved, thanks!

[2021-11-29 09:18] harsha509 commented on #592
Hi @gowthamraj198 ,

This should be resolved with this commit https://github.com/webdriverio/selenium-standalone/pull/590

Which version of selenium-standalone you're using?

[2021-11-29 09:44] gowthamraj198 commented on #592
thank you. the PR is merged 5 days ago. the latest version is not yet released?

[2021-11-29 09:44] christian-bromann commented on #592
46min ago 😉

[2021-11-29 09:47] gowthamraj198 commented on #592
Thank you. we can close this issue then.

[2021-11-29 09:51] #592 closed

[2021-11-30 08:44] #589 closed

[2021-11-30 16:01] anupamagrawal1 commented on #592
We are still facing the issue. Can someone please help?

[2021-12-01 13:05] lthurr commented on #585
I believe this is solved by #595
The behaviour now is that it will check if the bundle is available to download, if it is not, then it will download the fallback version

[2021-12-01 13:12] lthurr commented on #573
@christian-bromann not sure what's the best way to solve it.
Adding a `throw error` [in this block](https://github.com/webdriverio/selenium-standalone/blob/main/lib/install.js#L304-L317) will do the trick and this will be the result

[code]

And then

[code]

[2021-12-01 13:42] christian-bromann commented on #573
@lthurr I wonder why it is not throwing here: https://github.com/webdriverio/selenium-standalone/blob/main/bin/selenium-standalone#L33-L61 .. anyway if you would like to propose a PR I would be happy to merge. Thanks a lot for investigating this!

[2021-12-01 13:43] christian-bromann commented on #585
Closing then. Please let us know if issues still occur, then we can re-open.

[2021-12-01 13:43] #585 closed

[2021-12-04 14:00] drekhate commented on #294
thnks

[2021-12-06 09:13] #573 closed

[2021-12-06 17:10] joaodanielopes opened #599 "[🐛 Bug]: Selenium does not "frees" the port"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.6

### Node.js Version

v16.13.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I am able to run the test

[2022-01-03 21:26] carlos-gva opened #604 "Not downloading selenium patch versions successfully"
## Expected Behavior
A new selenium server patch version should be downloaded with success.

## Current Behavior
When trying to download a new (_patch_) version of selenium server, a 404 is returned.

## Steps to Reproduce
Just try to download the new _4.1.1_ version of selenium.

## Logs
I think the issue is related to the way the download URL is built.
So, right now we have patch versions deploy

[2022-01-03 21:32] christian-bromann commented on #604
@carlos-gva thanks for filing the issue. Any contribution to fix the bug would be very appreciated. Thanks!

[2022-01-17 09:21] elukoyanov commented on #604
I've catched this problem too.

With 4.0.0 and 4.1.0 download works.

4.1.1 - not

[2022-01-17 21:37] #604 closed

[2022-01-31 17:50] abdul-farhat opened #616 "Custom Port values not adhered to - always looking for node on 4444"
## Expected Behavior
Change capabilities host and port to custom values as:

[code]

Services as:

[code]
Expect standalone to create hub/node for 4444 and run tests.

## Current Behavior

Get the following regardless of port number:

`
Failed to connect to selenium. Attempts left: 25
 connect ECONNREFUSED 127.0.0.1:4444
`

## Steps to Reproduce
Provide an unambiguous set of steps to reproduce thi

[2022-02-02 05:31] mighty98 opened #617 "Issue in check-started.js function as it does not wait for 1 minute to start the server"
## Expected Behavior
As per the comments in check-started.js function (Line 37) server should be allowed 1 minute to start but as per the logic it wait for just 15 seconds

`let attempts = 29;
  const startTime = Date.now();
  while (attempts > 0 && Date.now() - startTime < 30000) {
    await sleep(500);
    attempts--;
    if (cpState.exited) {
      throw new Error(
        `Selenium exited befo

[2022-02-13 09:14] misjorge opened #674 "[🐛 Bug]: <title>404 https://msedgedriver.azureedge.net/98.0.1108.51/edgedriver_win64.zip Response code 404 (Not Found)"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.6.0

### Node.js Version

13.8.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Immediately after started running th

[2022-02-14 08:37] Avinash9969 opened #618 "No Such File or Directory on node_modules\selenium-standalone\.selenium\chromiumedgedriver\latest-x64\msedgedriver"
## Expected Behavior
The Execution should work as usual

## Current Behavior

Execution fails with Error

`2022-02-14T08:28:25.512Z INFO @wdio/cli:launcher: Run onPrepare hook
wdio.conf.js onPrepare starting here 7112 15504

Error in "chmod".
See more details below:
ENOENT: no such file or directory, chmod 'C:\My POCs\regression-test-suite\node_modules\selenium-standalone\.selenium\chromiumedgedri

[2022-02-14 09:21] christian-bromann commented on #618
@Avinash9969 can you provide the complete logs? It seems that something went wrong downloading the file given it isn't found.

[2022-02-14 10:39] christian-bromann commented on #618
Seems to be a duplicate of webdriverio/webdriverio#8006

[2022-02-14 10:39] #618 closed

[2022-02-15 07:40] senpl opened #620 "Linux chrome driver downloads msedgedriver not avaliable for linux"
## Expected Behavior
I just want to install chrome driver for linux.
## Current Behavior
It fails with msg:
`ENOENT: no such file or directory, chmod '/home/l/.npm-packages/lib/node_modules/selenium-standalone/.selenium/chromiumedgedriver/latest-x64/msedgedriver'`
I do not even want msedgedriver.
## Steps to Reproduce
selenium-standalone install --drivers.chrome.version=98.0.4758.80 --drivers.chro

[2022-02-15 08:18] christian-bromann commented on #620
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://github.com/webdriverio/selenium-standalone/blob/main/CONTRIBUTING.md) and let us know if you have any questions. Cheers!

[2022-02-15 14:43] cshuiu commented on #620
I get the same error when I try to install chromium edge. It says the file doesn't exist, but it exists as a '.zip' file,

`Error in "chmod".
See more details below:
ENOENT: no such file or directory, chmod '[PATH]/node_modules/selenium-standalone/.selenium/chromiumedgedriver/98.0.1108.51-x64/msedgedriver'`

Config file
`  chromiumedge: {
    version: '98.0.1108.51',
    arch: process.arch,
    ba

[2022-02-23 08:37] cshuiu commented on #620
I might have found the root cause of the issue. The `isUpToDate` function always returns true for MSEdge driver, which prevents installation later. So, the driver downloads, then checks if it has to be installed (though based on commends it should not download either) and since it thinks it's already the latest version, it skips installation.

[code]

[code]

[2022-02-23 09:26] christian-bromann commented on #620
@senpl thanks for investigating. I am not sure why we had this special case for edgedriver. Maybe a git blame tells more about it. Mind raising a PR with a proper change?

[2022-02-23 10:39] senpl commented on #620
@christian-bromann > @senpl thanks for investigating. I am not sure why we had this special case for edgedriver. Maybe a git blame tells more about it. Mind raising a PR with a proper change?
I could try, still I currently get setDriverFilePermissions msgs from source and no action is performed. I will need to run it from source before submitting PR, which will take time.

[2022-02-23 11:52] senpl commented on #620
OK. I fixed it on my machine. PR is comming, but I am not sure it this is correct fix so checks are welcomed.

[2022-02-23 13:57] cshuiu commented on #620
@senpl Are you opening the PR? I also need this functionality fixed :)

[2022-02-23 16:44] senpl commented on #620
check if this fixed issue. If not then provide test that creates expected condition coz this seams to fix build on my machine still I am not sure if this is the only needed fix.

[2022-03-08 07:52] christian-bromann commented on #599
Thanks for reporting!

I think we can definitely do something here to ensure the port gets open up again.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-03-08 07:53] christian-bromann commented on #616
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-03-08 07:53] christian-bromann commented on #617
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-03-11 05:59] senpl commented on #620
Issue is fixed for me in version 8.0.10 Latest.

[2022-03-11 05:59] #620 closed

[2022-03-11 21:37] rnreekez opened #631 "basePath documentation inconsistent with behavior"
## Expected Behavior
This likely wouldn't impact most people, but the documentation for opts.basePath is inconsistent with the actual behavior.

[Documentation](https://github.com/webdriverio/selenium-standalone/blob/main/docs/API.md#seleniuminstallopts) states basePath default value is `process.cwd() + ".selenium"` while the programmed behavior is relative to [`__dirname`](https://github.com/webd

[2022-03-12 08:41] christian-bromann commented on #631
Thanks for reporting @rnreekez , mind opening a PR for it?

[2022-03-12 15:46] rnreekez commented on #631
Hey @christian-bromann, no problem. Are we updating the docs or changing the code to adhere to the docs?

[2022-03-12 17:16] christian-bromann commented on #631
In order to not get surprised let's update the docs and keep the implementation as is.

[2022-04-10 16:48] alexstep-dev commented on #599
Unfortunately, I faced the same issue :(

Node: v16.14.2
@wdio/cli: ^7.19.3
@wdio/selenium-standalone-service: ^7.19.1

[2022-04-13 16:33] christian-bromann commented on #599
Thanks @alexstep-dev and @Nicolas-Moore for verifying that this bug exist. Anyone has some free cycles to work on fixing it?

[2022-04-19 19:15] wyhmichael opened #653 "[🐛 Bug]: error in downloading selenium-standalone - Error in "getDownloadStream" #592"
### Have you read the Contributing Guidelines on issues?
 * [x]  I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

 ### WebdriverIO Version
 latest

 ### Node.js Version
 latest

 ### Mode
 Standalone Mode

 ### Which capabilities are you using?
[code]

 ### What happened?
 from last few days, i started

[2022-04-19 19:16] wyhmichael commented on #653
seems like there's a regression : https://github.com/webdriverio/selenium-standalone/issues/592

[2022-04-19 19:17] christian-bromann commented on #653
Thanks for reporting!

Would you like to help and look into this?

[2022-04-19 19:23] wyhmichael commented on #653
kk, I'll see what I can do

[2022-04-19 23:39] wyhmichael commented on #653
Hi @christian-bromann I made PR for this - https://github.com/webdriverio/selenium-standalone/pull/654, please take a look

[2022-04-20 04:53] #653 closed

[2022-04-25 16:44] #631 closed

[2022-04-26 12:51] Lara2409 commented on #599
Hi. Have the same issue:

Windows 10
Node 16.14.0
@wdio/cli 7.19.5
@wdio/selenium-standalone-service 7.19.5

[2022-04-26 21:38] eric1234 opened #658 "Firefox Web Driver Downloads Every Time"
## Expected Behavior

This software [attempts to check if the web driver has been updated](https://github.com/webdriverio/selenium-standalone/blob/main/lib/install-utils.js#L97-L127) before downloading again. If we already have the latest version of the web driver it will skip the download.

## Current Behavior

This seems to work for all the web drivers expect the one for Firefox. For Firefox it

[2022-04-27 14:17] eric1234 opened #659 "Won't Download Older Versions of Selenium"
## Expected Behavior

When specifying a version below v4 of Selenium the install task should download that older version of Selenium.

## Current Behavior

Currently it generates the wrong URL and therefore resulting in a 404.

The issue is two things:

* [The stripping of the patch version number](https://github.com/webdriverio/selenium-standalone/blob/main/lib/compute-download-urls.js#L49) when

[2022-04-27 22:48] christian-bromann commented on #659
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-04-27 22:51] christian-bromann commented on #658
Thanks for reporting!

Storing the etag next to the file makes sense to me. I think it would be a good approach to try.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-04-28 21:26] gauravgandhi1315 commented on #489
@gowthamraj198 Were you able to fix this issue?

[2022-04-28 21:30] gauravgandhi1315 opened #661 "Error: Callback was already called."
Updated my node version to 16 and selenium-standalone was successfully installed. When I run my tests, I see this issue:

      cb(new Error("Could not request headers from " + url + ": " + err));
      ^
Error: Callback was already called

@wdio/selenium-standalone-service": "6.1.14"
"selenium-standalone": "6.20.1"

Can someone please help?

[2022-04-29 01:48] gowthamraj198 commented on #489
@gauravgandhi1315 i dont remember how i fixed this. but i dont get any errors now

[2022-04-30 18:37] #659 closed

[2022-05-03 16:20] #658 closed

[2022-05-04 12:50] PkAIR opened #669 "The `onCancel` handler was attached after the promise settled thrown on start"
## Expected Behavior
Browsers can be started on the first try

## Current Behavior
Error thrown on start

[code]

## Steps to Reproduce
Step is quite simple - start any test in my case using gradle

[code]

`webdriverConfig.js`

[code]

## Your Environment
* Version of `selenium-standalone`: 8.1.2
* Is there another tool calling `selenium-standalone` on your behalf: Gradle
* System/platform: MacOS

[2022-05-17 08:31] xingyu-he opened #676 "Could not start a new session. Response code 400. Message: Argument --remote-debugging-port can't be set via capabilities"
when I run code CI machine , create session failed
## Steps to Reproduce

 `import { remote,attach,multiremote } from 'webdriverio'
 const browser = await remote({
        capabilities: {
            browserName: 'firefox',
            'moz:firefoxOptions': {
                prefs: {
                    "xpinstall.signatures.required": false,
                },
            }
        }
    })
`

##

[2022-05-18 02:32] xingyu-he commented on #676
found cause by download geckodriver version is 0.31.0
0.30.0 is avaliable

[2022-05-18 02:32] #676 closed

[2022-05-25 09:48] christian-bromann opened #678 "Transition package from CJS to ESM"
As part of the [v8 effort](https://github.com/webdriverio/webdriverio/issues?q=is%3Aopen+is%3Aissue+milestone%3Av8) we are currently [migrating over to ESM](https://github.com/webdriverio/webdriverio/issues/8306) as many packages will stop support CJS in the future. This means we have to transition all plugins to ESM as well, ideally with continuous support for CJS.

[2022-05-25 14:36] PFaz540 commented on #599
I haven't seen this issue surface on Mac or Linux, just Windows.

But closing and re-opening the Command Line kills the Selenium session for now.

[2022-06-02 22:22] bailedk2 commented on #534
@mgrybyk I have been researching this as well. I do not believe the proxy is being set correctly based on the documentation from got. Could you show an example of how you expect it to be used?

[2022-07-07 10:13] christian-bromann commented on #678
__Update:__ my initial assumption that CJS services/reporters would stop working when running WebdriverIO within ESM context is wrong. They continue to work as is without any changes required. However I still suggest to do this ESM transition eventually as dependencies might migrate to ESM and stop working. Given WebdriverIO dynamically imports services and plugins there is no need to build a hybr

[2022-07-08 17:18] swamipasam opened #688 "Issue with chrome driver compatibility starting latest stable version on 06 July 2022"
## Expected Behavior
The current image which is taking the latest stable version of chrome, should work with any one of latest chrome drivers. Or we should have a way to consume this docker image with specific chrome version (using runtime params ...etc)

## Current Behavior
The current docker image is taking google chrome latest stable version, so even if i tried with any of the last three chrome

[2022-07-08 17:26] christian-bromann commented on #688
I triggered a new release that should pull the latest Chrome with a matching Chromedriver version. Please let me know if that resolves the issue.

That is not true. The image contains a stable Chrome version at the point the image is being created.

I guess one solution to this is to auto trigger releases for every Chrome release.

[2022-07-08 18:23] swamipasam commented on #688
Thank you for quick reply, I checked once again now. We still have the same issue. The chrome browser version need to be upgraded to 103 i guess, and current chrom version inside docker image as of now is 99.0.4844.51.

Logs:
[0-0] Current browser version is **99.0.4844.51** with binary path /usr/bin/google-chrome
[0-0] 2022-07-08T18:15:34.091Z WARN webdriver: Request failed with status 500 due to

[2022-07-08 18:44] christian-bromann commented on #688
Can you make sure you pulled the latest Docker image?

[2022-07-11 06:19] swamipasam commented on #688
Hi Christian, I have the using latest image version
FROM webdriverio/selenium-standalone:latest

Still i have this issue.
Current browser version is 99.0.4844.51 with binary path /usr/bin/google-chrome
but has error message:
[0-0] 2022-07-08T18:15:34.091Z WARN webdriver: Request failed with status 500 due to Could not start a new session. Error while creating session with the driver service. Stopp

[2022-07-11 07:10] christian-bromann commented on #688
It seems that there is no newer browser on Ubuntu then. I recommend to use proper API parameters to run Chromedriver with v99.

[2022-07-11 07:10] #688 closed

[2022-09-16 06:23] spaudel1 commented on #599
I had this similar issue on my windows 11. I uninstall Java JDK 18 that I had originally installed and installed openJDK 17 `winget install Microsoft.OpenJDK.17` and now this is no longer an issue. @joaodanielopes @Lara2409 @PFaz540 do you want to give a try and see if this resolves the issue?

[2022-09-29 21:09] ghopkins-legacy opened #709 "[Bug]: Error in "getDownloadStream". Could not download zip file | M1 MacBooks"
## Expected Behavior

getDownloadStream downloads the correct chromdriver for M1 MacBooks.

ChromeDriver changed their zip file naming convention for M1 MacBooks.

Previous: chromedriver_mac64_m1.zip
https://chromedriver.storage.googleapis.com/index.html?path=106.0.5249.21/

Current: chromedriver_mac_arm64.zip
https://chromedriver.storage.googleapis.com/index.html?path=106.0.5249.61/

Other people

[2022-09-29 21:54] christian-bromann commented on #709
Thanks for reporting!

We should update the download path for Chromedriver.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-09-30 00:47] Ghop11 commented on #709
@christian-bromann Created a PR for this issue. https://github.com/webdriverio/selenium-standalone/pull/710

[2022-09-30 00:57] christian-bromann commented on #709
Thank you, let's continue convo in #710

[2022-09-30 01:56] #709 closed

[2022-10-04 02:25] DylanLacey opened #715 "Would additional GitPod Behaviour be helpful?"
To make it easier for people to contribute, I'd like to add a GitPod setup.  I'm proposing to configure the following:

- [ ] prebuilds on each branch
- [ ] prebuilds for each PR (from original and fork)
- [ ] Automatically opening the built UI in an additional GitPod window

I propose that prebuilds would install dependencies but not run tests; Instead, each new workspace or workspace re-start wi

[2022-10-04 04:56] christian-bromann commented on #715
Very much so! In fact the WebdriverIO org has a GitPod freemium subscription so everyone will be able to access all GitPod capabilities. I have been working on a GitPod setup for the main repo and wrote about it [here](https://bromann.dev/post/development-environment-for-webdriverio/).

[2022-10-27 16:37] marcovtwout opened #724 "Selenium v3 can no longer be started, error " Was passed main parameter '-I' but no main parameter was defined in your arg class""
## Expected Behavior
Selenium v3 should start normally.

## Current Behavior
[code]

Running with `DEBUG=selenium-standalone:*` reveals the command that is executed:
[code]

## Steps to Reproduce

[code]

## Analysis

This regression is introduced since: https://github.com/webdriverio/selenium-standalone/pull/670
Selenium v3 does not seem to support the `-I` option which was added in this PR.

@er

[2022-10-27 17:12] arctouch-thiagowerner opened #725 "Unable to download latest Chrome MacOS M1 webdriver"
## Expected Behavior
Package should handle Chrome MacOS M1 webdriver.

## Current Behavior
Package expects chromedriver_mac64_m1.zip but they changed the name to: chromedriver_mac_arm64.zip

## Steps to Reproduce
1.  Add the capabilities: ['selenium-standalone', { drivers: { firefox: 'latest', chrome: 'latest' } }]
2. Run the code

## Logs
[code]

## Your Environment
* Version of `selenium-standal

[2022-10-28 15:18] #616 closed

[2022-11-02 21:14] roggerrouse commented on #725
A workaround is using `fullURL` parameter, such as:
[code]

[2022-11-03 16:29] ArminazK commented on #724
Hi, confirming this. This PR broke selenium v3
Some findings:
- no passing '-I' argument, selenium v3 starts
- no passing '-I' argument, `programmatic.js` (start related) tests fail.

Solutions:
1.  (bad, but fast fix) just add those `if (isSelenium4(opts.version))...` as @marcovtwout suggested and tests will pass due to default selenium tests are for v4, so no test failure ()
2. (good, might take

[2022-11-04 08:31] Joosakur commented on #725
When using this through webdriverio that workaround doesn't work, I think, but I've had to manually change version in node_modules/selenium-standalone/lib/default-config.js to some older one which has the old naming scheme.

[2022-11-04 09:30] thiago-luppi-td commented on #709
Is this issue been resolved? Because It happened to me with the last chrome update: Version 107.0.5304.87 (Official Build) (arm64). I'm trying to download the following CHROMEDRIVER=107.0.5304.62 but I'm getting the same error:

Error in "getDownloadStream". Could not download https://chromedriver.storage.googleapis.com/107.0.5304.62/chromedriver_mac64_m1.zip
See more details below:
404 https://ch

[2022-11-13 14:34] chris7716 commented on #709
@thiago-luppi-td  Were you able to resolve this one? I am having the same issue.

[2022-11-14 09:29] thiago-luppi-td commented on #709
Yeah. I had to overwrite the line 117 of the following:
node_modules/lib/compute-download-urls.js

117:
remove that: platform = 'mac64' + (process.arch === 'arm64' ? '_m1' : '');
add this: platform = process.arch === 'arm64' ? 'mac_arm64' : 'mac64';

This is the fix they provided, but for some reason I couldnt get by updating. This should do the job.

[2022-11-16 12:08] udarrr commented on #724
Hi, I really wait for the merge and new version

But, I was wondering about what if we'd like to chage just opts.seleniumVersion with baseUrl like selenium-release.storage.googleapis.com
I think we could change also downloadUrls  in compute-download-urls.js
something like that

const downloadUrls = {
  selenium: util.format(
    isSelenium4(opts.seleniumVersion) ? urls.seleniumV4 : urls.selenium,

[2022-11-16 16:42] #724 closed

[2022-11-16 19:04] udarrr opened #731 "Incorect link for downloading for old baseUrl"
## Expected Behavior
Selenium v3 should start normally with old baseUrl as https://selenium-release.storage.googleapis.com

## Current Behavior
it should download selenium-server with url like
https://selenium-release.storage.googleapis.com/3.141/selenium-server-standalone-3.141.59.jar

but try to do so with url like
https://selenium-release.storage.googleapis.com/selenium-3.141.59/selenium-server

[2022-11-18 06:43] gem-shubhamkumar commented on #599
Hi @christian-bromann, I am still getting the same error. When I am trying to execute the same test again it says -
![image](https://user-images.githubusercontent.com/112180521/202637839-85db3269-81ce-4787-a80b-b2a123f91abf.png)

I am using -
Window machine 10
JDK - 18
node - 18.0.0
@wdio/cli - 7.26.0
@wdio/selenium-standalone-service - 7.26.0

Could you please confirm me that this issue is still

[2022-11-18 06:45] shubhamkgupta14 commented on #599
Hi @christian-bromann , I am still getting the same error. When I am trying to execute the same test again it says -

![image](https://user-images.githubusercontent.com/34469341/202638466-420385b2-1f3c-4568-a8a5-94c577623879.png)

I am using -
Window machine 10
JDK - 18
node - 18.0.0
@wdio/cli - 7.26.0
@wdio/selenium-standalone-service - 7.26.0

Could you please confirm for me if this issue is sti

[2022-11-18 06:47] christian-bromann commented on #599
As you can see this issue is still open.

[2022-11-18 13:59] Lazzaretti commented on #669
I have the same issue.

Some guys reported the issue in the `got` package. This one is also used here.
https://github.com/sindresorhus/got/issues/1489

[2022-11-21 16:58] marcovtwout commented on #724
Confirmed that latest release fixes this issue, thanks!

[2022-11-29 00:04] MackinnonBuck opened #736 "The --javaArgs argument is parsed incorrectly when using the CLI"
## Summary
When using the command line interface, the `--javaArgs` argument value gets interpreted as a string and expanded to an array containing each character in the string. For example, in the case of `--javaArgs=-Dfoobar`, the "-Dfoobar" gets expanded to `['-', 'D', 'f', 'o', 'o', 'b,' 'a', 'r']`.

This is where the expansion occurs: https://github.com/webdriverio/selenium-standalone/blob/0c4

[2022-11-29 01:25] christian-bromann commented on #736
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://github.com/webdriverio/selenium-standalone/blob/main/CONTRIBUTING.md) and let us know if you have any questions. Cheers!